{% block file_url_widget %}
    {% spaceless %}
        <fieldset class="file_url" data-role="fieldcontain" {{ block('widget_container_attributes') }}>
            {{ form_row(form.file) }}
            {{ form_row(form.url) }}

            {% if value %}
                {% if value.file_url.mimeType|slice(0, 6) == 'image/' %}
                    {% include 'WapinetBundle::image.html.twig' with {'image': {'id': 'image', 'alt': '', 'src': value.web_path } } %}
                {% else %}
                    <p>{{ value.file_url.basename }} ({{ value.file_url.size|wapinet_size }})</p>
                {% endif %}
                {% if form.file_url_delete is defined %}
                    {{ form_row(form.file_url_delete) }}
                {% endif %}
            {% endif %}
        </fieldset>
    {% endspaceless %}
{% endblock %}
