{% extends 'WapinetMessageBundle::layout.html.twig' %}

{% block title %}{{ thread.subject }}{% endblock %}

{% block fos_message_content %}
    <div class="fos_comment_thread">
        <ul data-role="listview" data-inset="true">
        {% for message in pagerfanta %}
            <li data-role="list-divider">
                {{ message.createdAt|wapinet_datetime  }}
            </li>
            <li data-icon="false">
                <span class="fos_comment_comment_avatar">
                    <img src="{{ wapinet_user_get_avatar_url(message.sender) }}" alt="{{ message.sender }}" class="image-preview" />
                    {% if message.sender.isOnline %}
                        <span class="avatar-online"></span>
                    {% endif %}
                </span>

                {% block fos_comment_comment_metas_authorline %}
                    <span class="fos_comment_comment_authorname">
                        <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_profile', {'username': message.sender.username}) }}">{{ message.sender.username }}</a>
                    </span>
                {% endblock fos_comment_comment_metas_authorline %}

                <div class="long-description">
                    {{ message.body|wapinet_bbcode_parse }}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

    <h3>Ответить</h3>

    {{ form_start(form, {'action': path('fos_message_thread_view', {'threadId': thread.id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Отправить" />
        </div>
    {{ form_end(form) }}
{% endblock %}
