{% extends 'WapinetMessageBundle::layout.html.twig' %}

{% block title %}{{ thread.subject }}{% endblock %}

{% block fos_message_content %}
    <ul data-role="listview" data-inset="true">
    {% for message in pagerfanta %}
        <li data-role="list-divider">
            <span>
                <a class="user" data-icon="user" data-mini="true" data-inline="true" data-role="button" href="{{ path('wapinet_user_profile', {'username': message.sender.username}) }}">{{ message.sender.username }}</a>
            </span>
            <span class="ui-li-count">{{ message.createdAt|wapinet_datetime  }}</span>
        </li>
        <li data-icon="false">
            {% if message.sender.hasAvatar %}
                <img src="{{ vich_uploader_asset(message.sender, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ message.sender }}" class="image-preview" />
            {% endif %}
            <h2>{{ message.body|wapinet_bbcode_parse }}</h2>
            {% if message.sender.isOnline %}
                <p class="p-online">Онлайн</p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

    <h3>Ответить</h3>

    {{ form_start(form, {'action': path('fos_message_thread_view', {'threadId': thread.id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Отправить" />
        </div>
    {{ form_end(form) }}
{% endblock %}
