<ul data-role="listview" data-inset="true" id="list-threads">
    {% if pagerfanta and pagerfanta.count > 0 %}
        {% set route = app.request.attributes.get('_route') %}
        {% for thread in pagerfanta %}
            {# @var thread \FOS\MessageBundle\Model\ThreadInterface #}
            <li data-role="list-divider">{{ thread.lastMessage.createdAt|wapinet_datetime }} <span class="ui-li-count">{{ thread.messages|length|wapinet_count }}</span></li>
            <li>
                <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}">
                    <h2>
                        {{ thread.subject }}
                    </h2>
                    {% if route == 'wapinet_message_inbox' %}
                        {% if not thread.readByParticipant(app.user) %}
                            <p class="ui-li-aside p-new">Новое!</p>
                        {% endif %}
                    {% elseif route == 'wapinet_message_sent'%}
                        {# берем первого собеседника #}
                        {% if not thread.readByParticipant(thread.otherParticipants(app.user)[0]) %}
                            <p class="ui-li-aside p-noread">Не прочитано</p>
                        {% endif %}
                    {% endif %}
                    <p>{% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}</p>
                </a>

                {% if fos_message_can_delete_thread(thread) %}
                    {% if fos_message_deleted_by_participant(thread) %}
                        <a data-path="{{ url('wapinet_message_thread_undelete', {'threadId': thread.id}) }}" href="#restore-popup" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="back">Восстановить</a>
                    {% else %}
                        <a data-path="{{ url('wapinet_message_thread_delete', {'threadId': thread.id}) }}" href="#delete-popup" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete">Удалить</a>
                    {% endif %}
                {% endif %}

            </li>
        {% endfor %}
    {% else %}
        <li>
            Нет сообщений для отображения.
        </li>
    {% endif %}
</ul>

{% if pagerfanta %}
    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>
{% endif %}
