{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{{ thread.subject }}</h2>

<ul data-role="listview">
{% for message in thread.messages %}
    <li>
        <div class="messenger_thread_message">
            <div class="messenger_thread_message_info">
                От <a href="{{ path('fos_user_profile_show', {'id': message.sender.id}) }}">{{ message.sender}}</a>, {{ message.createdAt|date(wapinet_datetimeformat) }}
                {% if message.sender.avatar %}
                    <br />
                    {% include 'WapinetBundle::avatar.html.twig' with {'user': message.sender} %}
                {% endif %}
            </div>

            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                {{ message.body }}
            </div>
        </div>
    </li>
{% endfor %}
</ul>

<h3>Ответить</h3>

{{ form_start(form, {'action': path('fos_message_thread_view', {'threadId': thread.id}), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Отправить" />
    </div>
{{ form_end(form) }}

{% endblock %}
