{% extends '@WapinetUser/Subscriber/Email/_layout.html.twig' %}

{% block content %}
    {% if friend.isWoman %}
        Ваша подруга <a href="{{ url('fos_user_profile_show', {'username': friend.username}) }}">{{ friend }}</a> оставила комментарий:<br />
    {% else %}
        Ваш друг <a href="{{ url('fos_user_profile_show', {'username': friend.username}) }}">{{ friend }}</a> оставил комментарий:<br />
    {% endif %}
    <pre>{{ comment.body }}</pre>

    <strong><a href="{{ comment.thread.permalink }}#fos_comment_{{ comment.id }}">Ответить</a></strong>
{% endblock %}
