{% extends '@WapinetUser/Subscriber/Email/_layout.html.twig' %}

{% block content %}
    {% if friend.isFemale %}
        Ваша подруга <a href="{{ url('wapinet_user_profile', {'username': friend.username}) }}">{{ friend }}</a> добавила в друзья <a href="{{ url('wapinet_user_profile', {'username': friend_friend.username}) }}">{{ friend_friend }}</a>.
    {% else %}
        Ваш друг <a href="{{ url('wapinet_user_profile', {'username': friend.username}) }}">{{ friend }}</a> добавил в друзья <a href="{{ url('wapinet_user_profile', {'username': friend_friend.username}) }}">{{ friend_friend }}</a>.
    {% endif %}
{% endblock %}
