{% extends '@WapinetUser/Subscriber/Email/_layout.html.twig' %}

{% block content %}
    {% if friend.isWoman %}
        Ваша подруга <a href="{{ url('fos_user_profile_show', {'username': friend.username}) }}">{{ friend }}</a> удалила из друзей <a href="{{ url('fos_user_profile_show', {'username': friend_friend.username}) }}">{{ friend_friend }}</a>.
    {% else %}
        Ваш друг <a href="{{ url('fos_user_profile_show', {'username': friend.username}) }}">{{ friend }}</a> удалил из друзей <a href="{{ url('fos_user_profile_show', {'username': friend_friend.username}) }}">{{ friend_friend }}</a>.
    {% endif %}
{% endblock %}
