<ul data-role="listview" data-inset="true" id="list-threads">
    {% if pagerfanta and pagerfanta.count > 0 %}
        {% set route = app.request.attributes.get('_route') %}
        {% for thread in pagerfanta %}
            {# @var thread \FOS\MessageBundle\Model\ThreadInterface #}
            <li data-role="list-divider">{{ thread.lastMessage.createdAt|wapinet_datetime }} <span class="ui-li-count">{{ thread.messages|length|wapinet_count }}</span></li>
            <li>
                <a data-thread="{{ thread.id }}" href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}">
                    <h2>
                        {{ thread.subject }}
                    </h2>
                    {% if route == 'wapinet_message_inbox' %}
                        {% if not thread.readByParticipant(app.user) %}
                            <p class="ui-li-aside p-new">Новое!</p>
                        {% endif %}
                    {% elseif route == 'wapinet_message_sent' %}
                        {# берем первого собеседника #}
                        {% if not thread.readByParticipant(thread.otherParticipants(app.user)[0]) %}
                            <p class="ui-li-aside p-noread">Не прочитано</p>
                        {% endif %}
                    {% endif %}
                    <p>{% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}</p>
                </a>

                {% if fos_message_can_delete_thread(thread) %}
                    {% if fos_message_deleted_by_participant(thread) %}
                        <a data-id="{{ thread.id }}" href="#restore-popup" data-icon="back">Восстановить</a>
                    {% else %}
                        <a data-id="{{ thread.id }}" href="#delete-popup" data-icon="delete">Удалить</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li>
            Нет сообщений для отображения.
        </li>
    {% endif %}
</ul>

{% if pagerfanta %}
    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>
{% endif %}


{% block popup %}
    <div data-role="popup" data-id="restore-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Восстановление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите восстановить цепочку сообщений?</h3>
            <p></p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" data-id="restore-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Восстановить</a>
        </div>
    </div>
    <div data-role="popup" data-id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить цепочку сообщений?</h3>
            <p>Цепочка сообщений попадет в корзину.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" data-id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}
