{% extends "base.html.twig" %}

{% block title %}{{ archive }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('archiver_index'), 'title': 'Архиватор'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('archiver_edit', {'archive': archive}), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>
        <a data-ajax="false" data-inline="true" data-role="button" data-icon="check" href="{{ path('archiver_download', {'archive': archive}) }}">Скачать ZIP архив</a>
    </p>

    <ul id="list-archive" data-role="listview" data-inset="true" data-name="{{ archive }}">
    {% for file in files %}
        {% set pathView = (file.pathInfo.archiveName ? file.pathInfo.archiveName ~ ' / ' : '') ~ file.filename %}
        {% set path = (file.pathInfo.archiveName ? file.pathInfo.archiveName ~ '/' : '') ~ file.filename %}

        {% if file.dir %}
            <li class="directory">
                <a href="#" class="no-link">{{ pathView }}</a>
                <a data-path="{{ path|escape('html_attr') }}" href="#delete-popup" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete">Удалить</a>
            </li>
        {% else %}
            <li>
                <a data-ajax="false" href="{{ path('archiver_download_file', {'archive': archive, 'name': file.filename, 'path': path }) }}">{{ pathView }}
                    <span class="ui-li-count">{{ file.size|wapinet_size }}</span>
                </a>
                <a data-path="{{ path|escape('html_attr') }}" href="#delete-popup" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete">Удалить</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block popup %}
    <div data-role="popup" id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны, что хотите удалить элемент из архива?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}
