{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}

    {{ form_start(form, {'action': path('wapinet_users'), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.search) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <ul data-role="listview" data-inset="true">
        {% for user in pagerfanta %}
            <li>
                <a href="{{ path('wapinet_user_profile', {'username': user}) }}">
                    <img src="{{ wapinet_user_get_avatar_url(user) }}" alt="{{ user }}" class="image-preview" />
                    {% if user.isOnline %}
                        <span class="avatar-online avatar-online-list"></span>
                    {% endif %}
                    <h2>{{ user }}</h2>
                </a>
            </li>
        {% else %}
            <li>Пользователей нет</li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

{% endblock %}
