{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}

    {{ form_start(form, {'action': path('wapinet_users'), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.search) }}

    <div class="ui-grid-a">
        <div class="ui-block-a">
            {{ form_row(form.only_online) }}
        </div>
        <div class="ui-block-b">
            {{ form_row(form.sex, {'attr': {'data-native-menu': 'false'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

    <ul data-role="listview" data-inset="true">
        {% for user in pagerfanta %}
            <li>
                <a href="{{ path('wapinet_user_profile', {'username': user}) }}">
                    {% if user.hasAvatar %}
                        <img src="{{ vich_uploader_asset(user, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ user }}" class="image-preview" />
                    {% else %}
                        <img src="{{ asset('static/noavatar.png') }}" alt="{{ user }}" class="image-preview" />
                    {% endif %}
                    {% if user.isOnline %}
                        <span class="avatar-online avatar-online-list"></span>
                    {% endif %}
                    <h2>{{ user }}</h2>
                </a>
            </li>
        {% else %}
            <li>Пользователей нет</li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

{% endblock %}
