{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}

    <ul data-role="listview" data-inset="true">
        {% for user in pagerfanta %}
            <li>
                <a href="{{ path('wapinet_user_profile', {'username': user}) }}">
                    {% if user.hasAvatar %}
                        <img src="{{ vich_uploader_asset(user, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ user }}" class="image-preview" />
                    {% endif %}
                    <h2>{{ user }}</h2>
                    {% if user.isOnline %}
                        <p class="p-online">Онлайн</p>
                    {% endif %}
                </a>
            </li>
        {% else %}
            <li>Пользователей нет</li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

{% endblock %}
