<li data-role="list-divider">
    <span>
        <a class="bar-button ui-btn-icon-right ui-icon-comment ui-mini ui-btn-inline ui-btn" href="{{ event.variables.comment.thread.permalink }}#fos_comment_{{ event.variables.comment.id }}">&#10150;</a>
    </span>
    {{ event.variables.comment.createdAt|wapinet_datetime }}
</li>
<li>
    <h2 class="long-description">{{ event.subject }}</h2>
    <div class="long-description">
        {{ event.variables.comment.body|wapinet_bbcode_parse }}
    </div>
</li>