<li data-role="list-divider">
    <span>
        <a class="bar-button ui-btn-icon-right ui-icon-alert ui-mini ui-btn-inline ui-btn" href="{{ path('news_show', {'id': event.variables.news.id}) }}">&gt;&gt;&gt;</a>
    </span>
    {{ event.subject }}
    <span class="ui-li-count">{{ event.variables.comment.createdAt|wapinet_datetime }}</span>
</li>
<li>
    <h2>{{ event.variables.news.subject }}</h2>
    <div>{{ event.variables.news.body|wapinet_bbcode_parse }}</div>
</li>
