{% extends "::base.html.twig" %}

{% block title %}Все об ICQ{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('utilities'), 'title': 'Полезные WEB приложения'},
    2: {'uri': path('icq_index'), 'title': 'Все об ICQ'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('icq_registration') }}">Регистрация ICQ номера (UIN)</a></li>
        <li><a href="{{ path('icq_about') }}">Что такое ICQ?</a></li>
        <li><a href="{{ path('icq_invise') }}">Что такое номер невидимка?</a></li>
        <li><a href="{{ path('icq_secure') }}">Защита ICQ</a></li>
        <li><a href="{{ path('icq_servers') }}">Сервера ICQ</a></li>
        <li><a href="{{ path('icq_clients') }}">Клиенты ICQ</a></li>
        <li><a href="{{ path('icq_services') }}">Сервисы ICQ</a></li>
        <li><a href="{{ path('icq_disconnect') }}">Disconnect (если не соединяется)</a></li>
        <li><a href="{{ path('icq_errors') }}">Ошибки ICQ</a></li>
        <li><a href="{{ path('icq_search') }}">Поиск ICQ</a></li>
        <li><a href="{{ path('icq_user_info') }}">Данные о владельце UIN</a></li>
    </ul>
{% endblock %}
