{% extends "::base.html.twig" %}

{% block title %}Данные о владельце UIN{% endblock %}

{% block content %}
    <div>Смотреть данные пользователя ICQ<br/>
        {{ form_start(form, {'action': path('icq_user_info'), 'method': 'POST'}) }}
            <div>
                {{ form_widget(form) }}
            </div>
        {{ form_end(form) }}
        {% if result is not null %}
            <div>
                <img src="https://api.icq.net/expressions/get?t={{ result.uin }}&amp;f=native&amp;type=buddyIcon" alt="avatar" />
                <img src="http://status.icq.com/online.gif?img=5&amp;icq={{ result.uin }}" alt="status" />
                {{ result.content|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}
