{% extends "::base.html.twig" %}

{% block title %}Данные о владельце UIN{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Полезные WEB приложения'},
    2: {'uri': path('icq_index'), 'title': 'Все об ICQ'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('icq_user_info'), 'method': 'POST'}) }}
        {% if result is not null %}
            <div>
                <img src="https://api.icq.net/expressions/get?t={{ result.uin }}&amp;f=native&amp;type=buddyIcon" alt="avatar" />
                <img src="http://status.icq.com/online.gif?img=5&amp;icq={{ result.uin }}" alt="status" />
                {{ result.content|raw }}
            </div>
        {% endif %}

        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
