{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="fos_comment_delete_form_holder">
    {{ form_start(form, {'action': path('fos_comment_patch_thread_comment_state', {'id': id, 'commentId': commentId}), 'method': 'POST', attr: {'data-fos-comment-thread-id': id, 'class': 'fos_comment_delete_form'}}) }}

        {% block fos_comment_form_fields %}
            {{ form_errors(form) }}

            {{ form_rest(form) }}
        {% endblock %}

        <input type="hidden" name="_method" value="patch" />

        <div class="fos_comment_submit">
            {% block fos_comment_form_submit %}
                <input data-inline="true" type="submit" value="{{ 'fos_comment_comment_delete' | trans({}, 'FOSCommentBundle') }}" />
            {% endblock %}
        </div>

    {{ form_end(form) }}
</div>
