{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set depth = depth|default(0) %}
{% set view = view|default('tree') %}

{% if depth == 0 %}
    {% set count = thread.numComments %}
    <div data-role="collapsible" data-collapsed="false">
        <h4>Комментарии <span class="div-h4-count">{{ count|wapinet_count }}</span></h4>

        {% if fos_comment_can_edit_thread(thread) %}
            <div class="fos_comment_thread_commentable">
                <a href="#" data-role="button" data-mini="true" data-inline="true" data-url="{{ url('fos_comment_edit_thread_commentable', {'id': thread.id, 'value': not thread.commentable}) }}" class="fos_comment_thread_commentable_action">
                    {{ (thread.commentable ? 'fos_comment_thread_close' : 'fos_comment_thread_open') | trans({}, 'FOSCommentBundle') }}
                </a>
            </div>
        {% endif %}

        {% if fos_comment_can_comment_thread(thread) %}
            {{ render(url("fos_comment_new_thread_comments", {"id": thread.id})) }}
        {% endif %}
{% endif %}


{% for commentinfo in comments %}
    {% include "FOSCommentBundle:Thread:comment.html.twig" with { "children": commentinfo.children, "comment": commentinfo.comment, "depth": depth, "view": view } %}
{% endfor %}


{% if depth == 0 %}
    </div>
    {#
    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>
    #}
{% endif %}

