{% set title %}{% block title %}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ wapinet_title }} - {{ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjquerymobile/css/jquery.mobile.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquerymobile/js/jquery.mobile.js') }}"></script>

    {# pagerfanta #}
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" />

    {# comments #}
    {% if comments_id is defined %}
        <script type="text/javascript">
            // thread id
            var fos_comment_thread_id = '{{ comments_id }}';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';

            // Snippet for asynchronously loading the comments
            var comments = function () {
                var fos_comment_script = document.createElement('script');
                {# fos_comment_script.async = 'async'; #}
                fos_comment_script.src = '{{ asset('bundles/wapinetcomment/js/comments.js') }}';
                fos_comment_script.type = 'text/javascript';

                (document.getElementsByTagName('head')[0]).appendChild(fos_comment_script);
            };

            $(document).bind("mobileinit", comments).ready(comments);
        </script>
        <link rel="stylesheet" href="{{ asset('bundles/wapinetcomment/css/comments.css') }}" type="text/css" />
        {# <script async="async" type="text/javascript" src="{{ asset('bundles/wapinetcomment/js/comments.js') }}"></script> #}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/css/core.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/wapinet/js/core.js') }}"></script>

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
<div data-role="page" id="page" data-title="{{ title }}">
    {% block page %}
        {% block panel %}
            <div data-role="panel" id="menu">
                <ul data-role="listview" data-icon="false" data-divider-theme="a" data-divider-theme="a" data-inset="false">
                    {% if is_granted('ROLE_USER') %}
                        <li data-role="list-divider">Сообщения</li>
                        <li><a href="{{ url('fos_message_thread_new') }}">Написать</a></li>
                        <li><a href="{{ url('wapinet_message_inbox') }}">Входящие</a> <span class="ui-li-count">{{ fos_message_nb_unread() }}</span></li>
                        <li><a href="{{ url('wapinet_message_sent') }}">Исходящие</a></li>
                        <li><a href="{{ url('wapinet_message_deleted') }}">Корзина</a></li>
                    {% endif %}
                    <li data-role="list-divider">Закладки</li>
                    <li><a href="#">Форум</a></li>
                    <li><a href="#">Тест (добавить в профиле управление)</a></li>
                    <li><a href="#">Тест2 (по умолчанию подабавлять кое-каких закладок)</a></li>
                </ul>
            </div>
        {% endblock %}

        <div data-role="header" data-position="fixed">
            {% block header %}
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                    <a href="javascript:history.back();" data-role="button" data-icon="back" data-iconpos="notext">Назад</a>
                    <a href="#menu" data-role="button" data-icon="bars">Меню</a>
                    <!-- <a href="{{ path('index') }}" data-role="button" data-icon="home">{{ wapinet_title }}</a> -->
                </div>
                <h2><a href="{{ path('index') }}" data-role="button" data-inline="false">{{ wapinet_title }}</a></h2>
                {% if app.user %}
                    <a href="{{ path('fos_user_profile_show') }}" data-role="button" data-icon="gear" class="ui-btn-right">
                        {% if app.user.hasAvatar %}
                            <img src="{{ app.user.avatar.path }}" alt="" class="avatar_login" />
                        {% endif %}
                        {{ app.user.username }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" data-role="button" data-icon="gear" class="ui-btn-right">Войти</a>
                {% endif %}
            {% endblock %}
        </div>

        <div data-role="content">
            {% block content %}
                <p></p>
            {% endblock %}
        </div>

        <div data-role="footer">
            {% block footer %}
                <p class="footer-right"><a href="{{ path('about') }}">О сайте</a></p>
                <p class="footer">Online: 22</p>
            {% endblock footer %}
        </div>

    {% endblock page %}
</div>
{% endblock body %}
</body>
</html>
