{% set title %}{% block title %}{{ wapinet_title }}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title == wapinet_title ? title : wapinet_title ~ ' - ' ~ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# bbcode #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/xbbcode/resources/style.css') }}" />

    {# jquery #}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    {# FileSaver #}
    <script src="//rawgit.com/eligrey/FileSaver.js/1.3.2/FileSaver.min.js"></script>
    {# jqm.autoComplete #}
    <script src="//cdn.rawgit.com/commadelimited/autoComplete.js/master/jqm.autoComplete-1.5.2-min.js"></script>


    {# jplayer #}
    {% if file is defined and (file.isPlayableVideo or file.isPlayableAudio) %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/skin/blue.monday/css/jplayer.blue.monday.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
        <script>{% autoescape 'js' %}
            var Jplayer = {
                'swfPath': "//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.swf"
            };
        {% endautoescape %}</script>
    {% endif %}

    <!-- Yandex.Metrika counter -->
    <script>{% autoescape 'js' %}
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter26376855 = new Ya.Metrika({
                        id:26376855,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    {% endautoescape %}</script>
    <!-- /Yandex.Metrika counter -->

    {# pagerfanta #}
    {# <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" /> #}
    {% if pagerfanta is defined and pagerfanta is not null and pagerfanta.count > 0 and (pagerfanta.hasPreviousPage or pagerfanta.hasNextPage) %}
        <script src="{{ asset('bundles/wapinet/js/page-swiper.js') }}"></script>
    {% endif %}

    {# comments #}
    {% if comments_id is defined %}
        <script>{% autoescape 'js' %}
            // thread id
            var fos_comment_thread_id = '{{ comments_id }}';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';

            // Snippet for asynchronously loading the comments
            $(document).on("pagebeforeshow", "#page", function () {
                var fos_comment_script = document.createElement('script');
                {# fos_comment_script.async = 'async'; #}
                fos_comment_script.src = '{{ asset('bundles/wapinetcomment/js/comments.js') }}';

                (document.getElementsByTagName('head')[0]).appendChild(fos_comment_script);
            });
        {% endautoescape %}</script>
        {# <script async="async" src="{{ asset('bundles/wapinetcomment/js/comments.js') }}"></script> #}
    {% endif %}
    {# css комментариев подключаем всегда, т.к. могут отображаться как на главной файлообменника #}
    <link rel="stylesheet" href="{{ asset('bundles/wapinetcomment/css/comments.css') }}" type="text/css" />


    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/css/core.css') }}" />
    <script src="{{ asset('bundles/wapinet/js/core.js') }}"></script>

    {% if app.user %}
        <style type="text/css">
            .ui-icon-wapinet-user:after {
                background-image: url("{{ wapinet_user_get_avatar_url(app.user, 18) }}");
                background-size: 18px 18px;
            }
        </style>
    {% endif %}

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- Yandex.Metrika counter --><noscript><div><img src="https://mc.yandex.ru/watch/26376855" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
{% block body %}
<div data-role="page" id="page" data-title="{% if (is_granted('ROLE_USER') and fos_message_nb_unread() > 0) %}+{{ fos_message_nb_unread()|wapinet_count }} {% endif %}{{ title }}">
    {% block page %}
        {% block panel %}
            <div data-role="panel" data-display="overlay" id="panel">
                <ul data-role="listview" data-inset="true" data-divider-theme="b">
                    {% if is_granted('ROLE_USER') %}
                        {% set fos_message_nb_unread = fos_message_nb_unread() %}
                        {% set wapinet_user_count_online_friends = wapinet_user_count_online_friends(app.user) %}

                        <li data-icon="calendar"><a href="{{ path('wapinet_user_events') }}">События</a></li>
                        <li data-icon="mail"><a href="{{ path('wapinet_message_inbox') }}">Сообщения{% if fos_message_nb_unread > 0 %} <span class="ui-li-count">+{{ fos_message_nb_unread|wapinet_count }}</span>{% endif %}</a></li>
                        <li data-icon="user"><a href="{{ path('wapinet_user_friends', {'username': app.user.username}) }}">Друзья{% if wapinet_user_count_online_friends > 0 %} <span class="ui-li-count">{{ wapinet_user_count_online_friends|wapinet_count }}</span>{% endif %}</a></li>
                    {% endif %}
                    <li data-role="list-divider">Закладки</li>
                    {% for item in wapinet_panel() %}
                        {% if item.enabled %}
                            <li><a href="{{ path(item.route) }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

        <div data-theme="b" data-role="header" data-position="fixed">
            {% block header %}
                <a href="#panel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext">Меню</a>
                <h2>{{ title }}</h2>
                {% if app.user %}
                    <a href="{{ path('fos_user_profile_show') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-wapinet-user ui-btn-icon-notext">{{ app.user.username }}</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-lock ui-btn-icon-notext">Вход</a>
                {% endif %}
            {% endblock %}
        </div>

        <div data-role="main" class="ui-content center-container">
            {% block logo %}<div class="wapinet-logo"><a href="{{ path('index') }}"><img src="{{ asset('/bundles/wapinet/images/georg_lent_200.png') }}" alt=""/></a></div>{% endblock %}
            {% block breadcrumbs %}{% endblock %}
            {% block navbar %}{% endblock %}
            <fieldset>{% block content %}{% endblock %}</fieldset>
        </div>

        <div data-theme="b" data-role="footer" data-position="fixed">
            {% block footer %}
                <p class="footer-right"><a href="{{ path('about') }}">О сайте</a></p>
                <p class="footer"><a href="{{ path('online') }}">Онлайн: {{ wapinet_online() }}</a></p>
            {% endblock footer %}
        </div>

        {% block popup %}{% endblock %}
    {% endblock page %}
</div>
{% endblock body %}
</body>
</html>
