{% set title %}{% block title %}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ wapinet_title }} - {{ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# bbcode #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/xbbcode/resources/style.css') }}" />

    {# jquery #}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
    <script type="text/javascript" src="//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

    {# jplayer #}
    {% if file is defined and (file.isPlayableVideo or file.isPlayableAudio) %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.7.1/skin/blue.monday/jplayer.blue.monday.css" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.7.1/jquery.jplayer/jquery.jplayer.min.js"></script>
        <script type="text/javascript">
            var Jplayer = {
                'swfPath': "//cdnjs.cloudflare.com/ajax/libs/jplayer/2.7.1/jquery.jplayer/Jplayer.swf"
            };
        </script>
    {% endif %}

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26376855 = new Ya.Metrika({id:26376855, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26376855" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    {# pagerfanta #}
    {# <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" /> #}
    {% if pagerfanta is defined and pagerfanta is not null and pagerfanta.count > 0 %}
        {% include '@Wapinet/swiper.js.twig' %}
    {% endif %}

    {# comments #}
    {% if comments_id is defined %}
        <script type="text/javascript">{% autoescape 'js' %}
            // thread id
            var fos_comment_thread_id = '{{ comments_id }}';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';

            // Snippet for asynchronously loading the comments
            $(document).on("pagebeforeshow", "#page", function () {
                var fos_comment_script = document.createElement('script');
                {# fos_comment_script.async = 'async'; #}
                fos_comment_script.src = '{{ asset('bundles/wapinetcomment/js/comments.js') }}';
                fos_comment_script.type = 'text/javascript';

                (document.getElementsByTagName('head')[0]).appendChild(fos_comment_script);
            });
        {% endautoescape %}</script>
        <link rel="stylesheet" href="{{ asset('bundles/wapinetcomment/css/comments.css') }}" type="text/css" />
        {# <script async="async" type="text/javascript" src="{{ asset('bundles/wapinetcomment/js/comments.js') }}"></script> #}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/css/core.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/wapinet/js/core.js') }}"></script>

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
<div data-role="page" id="page" data-title="{{ title }}">
    {% block page %}
        {% block panel %}
            <div data-role="panel" id="panel">
                <ul data-role="listview" data-inset="true" data-divider-theme="b">
                    {% if is_granted('ROLE_USER') %}
                        <li data-icon="calendar"><a href="{{ path('wapinet_user_events') }}">События</a></li>
                        <li data-icon="mail"><a href="{{ path('wapinet_message_inbox') }}">Сообщения{% if fos_message_nb_unread() > 0 %} <span class="ui-li-count">+{{ fos_message_nb_unread()|wapinet_count }}</span>{% endif %}</a></li>
                        <li data-icon="user"><a href="{{ path('wapinet_user_friends', {'username': app.user.username}) }}">Друзья <span class="ui-li-count">{{ wapinet_user_count_friends(app.user)|wapinet_count }}</span></a></li>
                    {% endif %}
                    <li data-role="list-divider">Закладки</li>
                    {% for item in wapinet_panel() %}
                        {% if item.enabled %}
                            <li><a href="{{ path(item.route) }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

        <div data-theme="b" data-role="header" data-position="fixed">
            {% block header %}
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                    {% set has_unread_messages = (is_granted('ROLE_USER') and fos_message_nb_unread() > 0) %}
                    {% if has_unread_messages %}
                        <a href="#panel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-left">+{{ fos_message_nb_unread()|wapinet_count }}</a>
                    {% else %}
                        <a href="#panel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext">Меню</a>
                    {% endif %}
                </div>
                <h2>{{ title }}</h2>
                {% if app.user %}
                    <a href="{{ path('fos_user_profile_show') }}" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-right ui-icon-user">
                        {% if app.user.hasAvatar %}
                            <img src="{{ vich_uploader_asset(app.user, 'avatar')|imagine_filter('thumbnail') }}" alt="" class="avatar-login" />
                        {% endif %}
                        {{ app.user.username }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-right ui-icon-user">Вход</a>
                {% endif %}
            {% endblock %}
        </div>

        <div data-role="content">
            {% block breadcrumbs %}{% endblock %}
            {% block navbar %}{% endblock %}
            <fieldset>{% block content %}{% endblock %}</fieldset>
        </div>

        <div data-theme="b" data-role="footer">
            {% block footer %}
                <p class="footer-right"><a href="{{ path('about') }}">О сайте</a></p>
                <p class="footer">Online: {{ wapinet_online() }}</p>
            {% endblock footer %}
        </div>

        {% block popup %}{% endblock %}
    {% endblock page %}
</div>
{% endblock body %}
</body>
</html>
