{% set title %}{% block title %}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ wapinet_title }} - {{ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# jquery #}
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.js') }}"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjquerymobile/css/jquery.mobile.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquerymobile/js/jquery.mobile.js') }}"></script>

    {# jplayer #}
    {% if file is defined and (file.isPlayableVideo or file.isPlayableAudio) %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/js/jplayer/blue.monday/jplayer.blue.monday.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/wapinet/js/jplayer/jquery.jplayer.min.js') }}"></script>
    {% endif %}

    {# pagerfanta #}
    {# <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" /> #}
    {% if pagerfanta is defined and pagerfanta is not null and pagerfanta.count > 0 %}
        {% include '@Wapinet/swiper.js.twig' %}
    {% endif %}

    {# comments #}
    {% if comments_id is defined %}
        <script type="text/javascript">{% autoescape 'js' %}
            // thread id
            var fos_comment_thread_id = '{{ comments_id }}';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';

            // Snippet for asynchronously loading the comments
            $(document).on("pagebeforeshow", "#page", function () {
                var fos_comment_script = document.createElement('script');
                {# fos_comment_script.async = 'async'; #}
                fos_comment_script.src = '{{ asset('bundles/wapinetcomment/js/comments.js') }}';
                fos_comment_script.type = 'text/javascript';

                (document.getElementsByTagName('head')[0]).appendChild(fos_comment_script);
            });
        {% endautoescape %}</script>
        <link rel="stylesheet" href="{{ asset('bundles/wapinetcomment/css/comments.css') }}" type="text/css" />
        {# <script async="async" type="text/javascript" src="{{ asset('bundles/wapinetcomment/js/comments.js') }}"></script> #}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/css/core.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/wapinet/js/core.js') }}"></script>

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
<div data-role="page" id="page" data-title="{{ title }}">
    {% block page %}
        {% block panel %}
            <div data-role="panel" id="panel">
                <ul data-role="listview" data-icon="false" data-divider-theme="a" data-inset="false">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('wapinet_user_events') }}">События</a></li>
                        <li><a href="{{ path('wapinet_message_inbox') }}">Сообщения</a>{% if fos_message_nb_unread() > 0 %} <span class="ui-li-count">+{{ fos_message_nb_unread() }}</span>{% endif %}</li>
                        <li><a href="{{ path('wapinet_user_friends', {'username': app.user.username}) }}">Друзья</a> <span class="ui-li-count">{{ wapinet_user_count_friends(app.user) }}</span></li>
                    {% endif %}
                    <li data-role="list-divider">Закладки</li>
                    {% for item in wapinet_panel() %}
                        {% if item.enabled %}
                            <li><a href="{{ path(item.route) }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

        <div data-role="header" data-position="fixed">
            {% block header %}
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                    <a href="javascript:history.back();" data-role="button" data-icon="back">Назад</a>
                    <a href="#panel" data-role="button" data-icon="bars">Меню{% if (is_granted('ROLE_USER') and fos_message_nb_unread() > 0) %} +{{ fos_message_nb_unread() }}{% endif %}</a>
                </div>
                <h2>{{ title }}</h2>
                {% if app.user %}
                    <a href="{{ path('fos_user_profile_show') }}" data-role="button" data-icon="gear" class="ui-btn-right">
                        {% if app.user.hasAvatar %}
                            <img src="{{ vich_uploader_asset(app.user, 'avatar')|imagine_filter('thumbnail') }}" alt="" class="avatar-login" />
                        {% endif %}
                        {{ app.user.username }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" data-role="button" data-icon="gear" class="ui-btn-right">Войти</a>
                {% endif %}
            {% endblock %}
        </div>


        <div data-role="content">
            {% block breadcrumbs %}{% endblock %}
            {% block navbar %}{% endblock %}
            <div>{% block content %}{% endblock %}</div>
        </div>

        <div data-role="footer">
            {% block footer %}
                <p class="footer-right"><a href="{{ path('about') }}">О сайте</a></p>
                <p class="footer">Online: {{ wapinet_online() }}</p>
            {% endblock footer %}
        </div>

        {% block popup %}{% endblock %}
    {% endblock page %}
</div>
{% endblock body %}
</body>
</html>
