{% extends "base.html.twig" %}

{% block title %}Хэширование данных{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('hash_index'), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
        {% if result is not null %}
            <label>Результат <input type="text" value="{{ result }}"/></label>
        {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет закодировать данные выбранным алгоритмом хэширования.</p>
        </div>
    </div>
{% endblock %}
