{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block navbar %}
    {% set active_page = app.request.attributes.get('_route') %}
    <div data-role="navbar">
        <ul>
            <li><a href="{{ path('wapinet_message_thread_new') }}" data-icon="edit"{% if active_page == 'wapinet_message_thread_new' %} class="ui-btn-active"{% endif %}>Написать</a></li>
            <li><a href="{{ path('wapinet_message_inbox') }}" data-icon="arrow-d-l"{% if active_page == 'wapinet_message_inbox' %} class="ui-btn-active"{% endif %}>Входящие</a></li>
            <li><a href="{{ path('wapinet_message_sent') }}" data-icon="arrow-u-r"{% if active_page == 'wapinet_message_sent' %} class="ui-btn-active"{% endif %}>Исходящие</a></li>
            <li><a href="{{ path('wapinet_message_deleted') }}" data-icon="recycle"{% if active_page == 'wapinet_message_deleted' %} class="ui-btn-active"{% endif %}>Корзина</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% block fos_message_content %}{% endblock %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
