{% extends "::base.html.twig" %}

{% block title %}Переводчик{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'}
    })}}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            FileLoader.saveAsHandler('#downloadTranslation', '#textTranslation', 'translation.txt');
        });
    </script>
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('translate_index'), 'method': 'POST'}) }}
        {{ form_errors(form) }}
        {% if result is not null %}
            <label>
                Перевод <a href="#" id="downloadTranslation" class="ui-btn-inline ui-btn ui-icon-arrow-d ui-btn-icon-notext ui-corner-all">Скачать</a>
                <textarea id="textTranslation">{{ result }}</textarea>
            </label>
        {% endif %}

        {{ form_row(form.text, {'label': form.text.vars.label ~ (detectLangName ? ' (' ~ detectLangName ~ ')' : '')}) }}

        <div class="ui-grid-a">
            <div class="ui-block-a">{{ form_row(form.lang_from) }}</div>
            <div class="ui-block-b">{{ form_row(form.lang_to) }}</div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
