{% extends "::base.html.twig" %}

{% block title %}Переводчик{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('translate_index'), 'method': 'POST'}) }}
        {% if result is not null %}
            <label>Перевод <textarea>{{ result }}</textarea></label>
        {% endif %}

        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
