<ul data-role="listview" data-inset="true">
    {% for file in pagerfanta %}
        <li>
            <a href="{{ path('file_view', {'id': file.id}) }}">
                {% if file.isImage %}
                    <img src="{{ vich_uploader_asset(file, 'file')|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}{% if file.meta is not null %}, {{ file.meta.get('width') }}x{{ file.meta.get('height') }}{% endif %}</p>
                {% elseif file.isVideo %}
                    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_video_screenshot %}
                    {% if screenshot is not null %}
                        <img src="{{ screenshot|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                    {% endif %}
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}{% if file.meta is not null %}, {{ file.meta.get('width') }}x{{ file.meta.get('height') }}{{ file.meta.has('duration') ? ', ' ~ file.meta.get('duration')|wapinet_length : '' }}{% endif %}</p>
                {% elseif file.isAudio %}
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}{% if file.meta is not null %}{{ file.meta.has('duration') ? ', ' ~ file.meta.get('duration')|wapinet_length : '' }}{% endif %}</p>
                {% elseif file.isJavaApp %}
                    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_java_app_screenshot %}
                    {% if screenshot is not null %}
                        <img src="{{ screenshot|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                    {% endif %}
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}</p>
                {% elseif file.isAndroidApp %}
                    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_android_app_screenshot %}
                    {% if screenshot is not null %}
                        <img src="{{ screenshot|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                    {% endif %}
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}</p>
                {% else %}
                    <h2>{{ file.originalFileName }}</h2>
                    <p>{{ file.fileSize|wapinet_size }}</p>
                {% endif %}
            </a>
        </li>
    {% else %}
        <li>
            Нет файлов для отображения.
        </li>
    {% endfor %}
</ul>

{% if pagerfanta is not null %}
    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>
{% endif %}
