{% extends "base.html.twig" %}

{% block title %}{{ file.originalFileName }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}


{% if file.isImage %}
    {% set screenshot = vich_uploader_asset(file, 'file') %}
{% elseif file.isVideo %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_video_screenshot %}
{% elseif file.isJavaApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_java_app_screenshot %}
{% elseif file.isAndroidApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_android_app_screenshot %}
{% else %}
    {% set screenshot = null %}
{% endif %}

{% set format = null %}
{% set audio = null %}
{% set video = null %}

{% if file.isPlayableVideo %}
    {% set format %}{% spaceless %}
        {% if file.isM4v or file.is3gp or file.isWmv or file.isAvi %}
            m4v
        {% elseif file.isOgv %}
            ogv
        {% elseif file.isWebmv %}
            webmv
        {% elseif file.isFlv %}
            flv
        {% endif %}
    {% endspaceless %}{% endset %}

    {% set video %}{% spaceless %}
        {% if file.is3gp or file.isAvi or file.isWmv %}
            {{ vich_uploader_asset(file, 'file')|wapinet_video_to_mp4 }}
        {% else %}
            {{ vich_uploader_asset(file, 'file') }}
        {% endif %}
    {% endspaceless %}{% endset %}
{% elseif file.isPlayableAudio %}
    {% set format %}{% spaceless %}
        {% if file.isMp3 or file.isAmr %}
            mp3
        {% elseif file.isM4a %}
            m4a
        {% elseif file.isOga %}
            oga
        {% elseif file.isWebma %}
            webma
        {% elseif file.isWav %}
            wav
        {% elseif file.isFla %}
            fla
        {% elseif file.isFlac %}
            flac
        {% endif %}
    {% endspaceless %}{% endset %}

    {% set audio %}{% spaceless %}
        {% if file.isAmr %}
            {{ vich_uploader_asset(file, 'file')|wapinet_audio_to_mp3 }}
        {% else %}
            {{ vich_uploader_asset(file, 'file') }}
        {% endif %}
    {% endspaceless %}{% endset %}
{% endif %}


{% block content %}
    <a data-screenshot="{{ screenshot }}" data-format="{{ format }}" data-audio="{{ audio }}" data-video="{{ video }}" data-id="{{ file.id }}" data-ajax="false" data-role="button" data-icon="arrow-d" href="{{ vich_uploader_asset(file, 'file') }}" download="{{ file.originalFileName }}">Скачать</a>

    {% if file.isHidden %}
        <button class="ui-btn ui-icon-alert ui-btn-icon-left">Файл скрыт от общего просмотра. Дождитесь модерации.</button>
    {% endif %}

    {% if file.isImage %}
        {% if screenshot is not null %}
            {% include 'image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
    {% elseif file.isVideo %}
        {% if file.isPlayableVideo %}
            {% include 'video.html.twig' with {'file': file} %}
        {% else %}
            {% if screenshot is not null %}
                {% include 'image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
            {% endif %}
        {% endif %}
    {% elseif file.isAudio %}
        {% if file.isPlayableAudio %}
            {% include 'audio.html.twig' with {'file': file} %}
        {% endif %}
    {% elseif file.isArchive %}
        {% if file.isExtractableArchive %}
            {% include 'archive.html.twig' with {'file': file} %}
        {% endif %}
    {% elseif file.isJavaApp %}
        {% if screenshot is not null %}
            {% include 'image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
    {% elseif file.isAndroidApp %}
        {% if screenshot is not null %}
            {% include 'image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
    {% elseif file.isTorrent %}
        {% include 'torrent.html.twig' with {'file': file} %}
    {% elseif file.isPlaylist %}
        {% include 'playlist.html.twig' with {'file': file} %}
    {% endif %}

    {% include 'File/meta.html.twig' %}

    <fieldset>{{ file.description|wapinet_bbcode_parse }}</fieldset>

    {% if app.user and (is_granted('EDIT', file) or is_granted('DELETE', file)) %}
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            {% if file.isHidden and is_granted('ROLE_ADMIN') %}
                <a data-role="button" data-icon="check" href="{{ path('file_accept', {'id': file.id}) }}">Открыть доступ</a>
            {% endif %}
            {% if is_granted('EDIT', file) %}
                <a data-role="button" data-icon="edit" href="{{ path('file_edit', {'id': file.id}) }}">Редактировать</a>
            {% endif %}
            {% if is_granted('DELETE', file) %}
                <a data-role="button" data-icon="delete" id="delete-button" href="#">Удалить</a>
            {% endif %}
        </fieldset>
    {% endif %}

    {% if not file.fileTags.isEmpty %}
        <fieldset>
            {% for fileTags in file.fileTags %}
                <a class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow" href="{{ path('file_tag', {'tagName': fileTags.tag}) }}">{{ fileTags.tag }}</a>
            {% endfor %}
        </fieldset>
    {% endif %}

    <div id="vkcomments_widget"></div>
{% endblock %}

{% block popup %}
    <div data-role="popup" id="delete-popup-{{ file.id }}" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить файл?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}
