{% extends "base.html.twig" %}

{% block title %}Развлечения{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_index') }}">Файлообменник</a></li>
        <li><a href="{{ path('gist_index') }}">Блоги</a></li>
        <li><a href="{{ path('bash_index') }}">БезБАШенные приколы</a></li>
        <li><a href="{{ path('mass_media_index') }}">СМИ</a></li>
        <li><a href="{{ path('rates_index') }}">Курсы валют</a></li>
    </ul>
{% endblock %}
