{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <audio style="width: 100%;" controls src="{{ asset('build/resources/Aleksandr_Sklyar_i_gr_Va-Bank_-_Ty_zabyl_brat.mp3') }}"></audio>
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_index') }}">Файлообменник <span class="ui-li-count">{{ file_count_all()|wapinet_count }}</span></a></li>
        <li>
            <ul data-role="listview" data-inset="true">
                <li><a href="{{ path('archiver_index') }}">Архиватор</a></li>
                <li><a href="{{ path('http_index') }}"><abbr title="HyperText Transfer Protocol">HTTP</abbr> клиент</a></li>
                <li><a href="{{ path('whois_index') }}"><abbr title="who is — кто это?">WHOIS</abbr>/<abbr title="Registration Data Access Protocol">RDAP</abbr> - информация о домене, ASN или IP</a></li>
                <li><a href="{{ path('php_validator_index') }}"><abbr title="PHP (Hypertext Preprocessor)">PHP</abbr> валидатор</a></li>
                <li><a href="{{ path('html_validator_index') }}"><abbr title="HyperText Markup Language">HTML</abbr> валидатор</a></li>
                <li><a href="{{ path('css_validator_index') }}"><abbr title="Cascading Style Sheets">CSS</abbr> валидатор</a></li>
                <li><a href="{{ path('php_obfuscator_index') }}"><abbr title="PHP (Hypertext Preprocessor)">PHP</abbr> обфускатор</a></li>
                <li><a href="{{ path('audio_tags_index') }}">Редактор аудио тегов</a></li>
                <li><a href="{{ path('rename_index') }}">Переименование файлов</a></li>
                <li><a href="{{ path('email_index') }}">Отправка E-mail</a></li>
                <li><a href="{{ path('browser_info') }}">Информация о браузере</a></li>
                <li><a href="{{ path('hash_index') }}">Хэширование данных</a></li>
                <li><a href="{{ path('code_index') }}">Конвертирование данных</a></li>
                <li><a href="{{ path('unicode_index') }}">Конвертер в Unicode</a></li>
                <li><a href="{{ path('unicode_icons') }}">Пиктограммы в Unicode</a></li>

                <li data-role="list-divider"></li>
                <li><a href="{{ path('open_source') }}">Open source разработки</a></li>
                <li><a href="{{ path('textbook') }}">Учебники</a></li>
                <li><a href="{{ path('video_courses') }}">Видео-курсы</a></li>

                <li data-role="list-divider"></li>
                <li><a href="{{ path('mass_media_index') }}">СМИ</a></li>
                <li><a href="{{ path('rates_index') }}">Курсы валют</a></li>
                <li><a href="{{ path('mobile_code_index') }}">Телефонные коды</a></li>
            </ul>
        </li>
        <li><a data-ajax="false" href="{{ wapinet_forum_url|escape('html_attr') }}">Форум <span class="ui-li-count">{{ wapinet_forum_topics_count()|wapinet_count }} | {{ wapinet_forum_posts_count()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('guestbook_index') }}">Гостевая <span class="ui-li-count">{{ guestbook_count_all()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('gist_index') }}">Блоги <span class="ui-li-count">{{ gist_count()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('news_index') }}">Новости <span class="ui-li-count">{{ news_last_date()|wapinet_datetime|default('Новостей нет') }}</span></a></li>
    </ul>
{% endblock %}
