{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_index') }}">Файлообменник <span class="ui-li-count">{{ file_count_all()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('downloads') }}">Развлечения</a></li>
        <li><a href="{{ path('utilities') }}">Утилиты</a></li>
        <li><a href="{{ path('programming') }}">WEB мастерская</a></li>
        <li><a href="{{ path('archiver_index') }}">Архиватор</a></li>
        <li><a data-ajax="false" href="{{ wapinet_forum_url|escape('html_attr') }}">Форум <span class="ui-li-count">{{ wapinet_forum_topics_count()|wapinet_count }} | {{ wapinet_forum_posts_count()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('guestbook_index') }}">Гостевая <span class="ui-li-count">{{ guestbook_count_all()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('news_index') }}">Новости <span class="ui-li-count">{{ news_last_date()|wapinet_datetime|default('Новостей нет') }}</span></a></li>
        <li><a href="{{ path('gist_index') }}">Блоги <span class="ui-li-count">{{ gist_count()|wapinet_count }}</span></a></li>
    </ul>
{% endblock %}
