{% extends "base.html.twig" %}

{% block title %}WEB мастерская{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('http_index') }}"><abbr title="HyperText Transfer Protocol — протокол передачи гипертекста">HTTP</abbr> клиент</a></li>
        <li><a href="{{ path('whois_index') }}"><abbr title="who is — кто такой? (сетевой протокол прикладного уровня)">WHOIS</abbr> - информация о домене или IP</a></li>
        <li><a href="{{ path('php_validator_index') }}">PHP валидатор</a></li>
        <li><a href="{{ path('html_validator_index') }}">HTML валидатор</a></li>
        <li><a href="{{ path('css_validator_index') }}">CSS валидатор</a></li>
        <li><a href="{{ path('php_obfuscator_index') }}">PHP обфускатор</a></li>
        <li><a href="{{ path('open_source') }}">Open source разработки</a></li>
        <li><a href="{{ path('textbook') }}">Учебники</a></li>
        <li><a href="{{ path('video_courses') }}">Видео-курсы</a></li>
    </ul>
{% endblock %}
