{% extends "base.html.twig" %}

{% block title %}Видео-курсы по программированию{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li class="ui-li-has-thumb">
            <a href="https://vkvideo.ru/@otusru" rel="external">
                <img src="{{ asset('build/resources/video_courses/otus.png') }}" />
                <h2>OTUS. Онлайн-образование</h2>
                <p>Множество бесплатных уроков и вебинаров по программированию, разработке, аналитике, машинному обучению и менеджменту. В OTUS более 170 курсов по программированию на языках Python, JavaScript, C#, C++, PHP и другие.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UCwHL6WHUarjGfUM_586me8w" rel="external">
                <img src="{{ asset('build/resources/video_courses/highload.png') }}" />
                <h2>HighLoad++</h2>
                <p>Доклады с конференций конференций HighLoad++, TokenConf, InoThings++ и фестиваля конференций РИТ++ (конференции Whale Rider, Web-scale IT, Aletheia Bissiness, FrontendCon, Apps Conf, BackendConf, RootConf, HighLoad Junior).</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UCH8zwr3rJOcgCApR_5z31cw" rel="external">
                <img src="{{ asset('build/resources/video_courses/codefestru.png') }}" />
                <h2>CodeFest</h2>
                <p>Канал конференции разработчиков, посвященной актуальным вопросам разработки, управления проектами и тестирования.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/@CutCodeRu" rel="external">
                <img src="{{ asset('build/resources/video_courses/cutcoderu.png') }}" />
                <h2>CutCodeRu</h2>
                <p>Много обучающих материалов по Laravel, а также PHP и JavaScript.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UCd_sTwKqVrweTt4oAKY5y4w" rel="external">
                <img src="{{ asset('build/resources/video_courses/habrahabr.png') }}" />
                <h2>HabraHabr</h2>
                <p>Официальный YouTube-канал сообщества "Хабрахабра".</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UCawnwMqZ6JeoSiEhrS6X69A" rel="external">
                <img src="{{ asset('build/resources/video_courses/postgres_pro.png') }}" />
                <h2>Postgres Professional</h2>
                <p>Семинары, лекции, прочие учебные материалы от российского разработчика PostgreSQL - компании Postgres Professional.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UC7lx9TaV-jL6vhZyokIJ6NQ" rel="external">
                <img src="{{ asset('build/resources/video_courses/codefreeze.png') }}" />
                <h2>CodeFreeze</h2>
                <p>Видео со встреч сообщества CodeFreeze в Петербурге и Москве.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="https://www.youtube.com/channel/UCmqEpAsQMcsYaeef4qgECvQ" rel="external">
                <img src="{{ asset('build/resources/video_courses/mailru.png') }}" />
                <h2>VK Team</h2>
                <p>Лекции экспертов, митапы, шоу, онлайн-курсы, записи конференций и подкасты: VK JT, «Сквозь VK» и «Скринкасты».</p>
            </a>
        </li>
    </ul>
{% endblock %}
