{% extends "base.html.twig" %}

{% block title %}Бесплатные загрузки{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'}
    })}}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('siza_index', {'q': 'load/music'}) }}">Музыка (MP3|AMR|MMF)</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/poly'}) }}">Музыка (MMF с голосом|MIDI)</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/igry'}) }}">Игры</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/android'}) }}">Android Игры|Проги</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/kartinki'}) }}">Картинки</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/flash_zastavki'}) }}">Flash заставки</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/erotik'}) }}">Эротика</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/video'}) }}">Видео</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/mobilnye_filmy'}) }}">Мобильные фильмы</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/programmy'}) }}">Программы</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/symbian'}) }}">Symbian Игры|Проги</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/temy'}) }}">Темы</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/animacii'}) }}">Анимации</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/znamenitosti'}) }}">Знаменитости</a></li>
        <li><a href="{{ path('siza_index', {'q': 'load/windows_mobile'}) }}">Windows mobile</a></li>
    </ul>
{% endblock %}
