{% extends '::base.html.twig' %}

{% block title %}Cоздать архив - {{ archive }}{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('utilities'), 'title': 'Полезные WEB приложения'},
    2: {'uri': path('archiver_index'), 'title': 'Архиватор'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('archiver_edit', {'archive': archive}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>
        <a data-inline="true" data-role="button" data-icon="check" href="{{ path('archiver_download', {'archive': archive}) }}">Скачать ZIP архив</a>
    </p>

    <ul data-role="listview" data-inset="true" data-divider-theme="d">
    {% for file in files %}
            {% if file.dir %}
                <li data-role="list-divider">{{ file.pathInfo.archiveName ? file.pathInfo.archiveName ~ ' / ' : '' }}{{ file.basename }}</li>
            {% else %}
                <li>
                    <a href="{{ path('archiver_download_file', {'archive': archive, 'name': file.basename, 'path': (file.pathInfo.archiveName ? file.pathInfo.archiveName ~ '/' : '') ~ file.basename }) }}">{{ file.pathInfo.archiveName ? file.pathInfo.archiveName ~ ' / ' : '' }}{{ file.basename }}</a>
                    <span class="ui-li-count">{{ file.size|wapinet_size }}</span>
                </li>
            {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
