{% extends "::base.html.twig" %}

{% block title %}HTML валидатор{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}


{% block content %}
    {{ form_start(form, {'action': path('html_validator_index'), 'method': 'POST'}) }}
    {% if result is not null %}
        {% if result.validity %}
            <strong>Документ прошел валидацию</strong><br />
        {% endif %}

        {% if result.errors %}
            <strong>Ошибки</strong>
            <ul>
                {% for error in result.errors %}
                    <li>Строка {{ error.line }}, колонка {{ error.col }}: {{ error.message }}<br /><code class="html-validator">{{ error.source|raw }}</code></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if result.warnings %}
            <strong>Предупреждения</strong>
            <ul>
                {% for warning in result.warnings %}
                    <li>Строка {{ warning.line }}, колонка {{ warning.col }}: {{ warning.message }}<br /><code class="html-validator">{{ warning.source|raw }}</code></li>
                {% endfor %}
            </ul>
        {% endif %}


    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Проверка разметки HTML, xHTML и других WEB документов.<br />Валидацию проводит валидатор <abbr title="World Wide Web Consortium">W3C</abbr>.</p>
        </div>
    </div>

{% endblock %}
