{% extends '::base.html.twig' %}

{% block title %}Платные PHP скрипты{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    <div data-role="collapsible-set">
        <div data-role="collapsible" data-collapsed="false">
            <h2>Sea Downloads 3.1 (20.10.2013)</h2>
            <div>
                Стоимость: 40 WMZ<br />
                Платная модификация загруз-центра Sea Downloads 3.1<br />
                Верстка сделана с помощью шаблонизатора Smarty 3 с использованием HTML5<br />
                Админка написана с использованием jQuery Mobile<br />
                Проигрывание некоторых видео/аудио файлов с помощью Flash/HTML5 плеера Jwplayer<br />
                Для работы с БД используется PDO<br />
                Поддержка Nginx<br />
                Требования: Web-сервер (проверено на Apache 2 и Nginx), MySQL >= 5.0.7, PHP >= 5.2.1, PDO, Mbstring, CURL, Filter, SimpleXML, GD, FFmpeg (не обязательно)<br />
                Установка: 5 WMZ<br />
                Обновления: бесплатно<br />
                По вопросам приобретения писать на email: {{ wapinet_contact_email }}<br />
                <hr />
                В планах:<br />
                Платный модуль для продажи контента<br />
                Известные проблемы:<br />
                Проблемы с отображением админки на мобильных телефонах<br />
                <hr />
                <a href="{{ path('sea_index') }}">Пример</a><br />
                <a href="{{ path('sea_readme') }}">Описание</a><br />
                <a href="{{ path('sea_changelog') }}">Список изменений</a><br />
            </div>
        </div>
    </div>

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Приобрести скрипты можно обратившись на email {{ wapinet_contact_email }}.</p>
        </div>
    </div>
{% endblock %}
