{% extends '::base.html.twig' %}

{% block title %}Загрузки, развлечения{% endblock %}
{% block menu %}
    {{ wapinet_menu() }}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('siza_index') }}">Бесплатные загрузки</a></li>
        <li><a href="#">Частное фото (foto)</a></li>
        <li><a href="#">Эро библиотека (sexbib)</a></li>
        <li><a href="#">Библиотека (lib)</a></li>
        <li><a href="{{ path('bash_index') }}">БезБАШенные приколы</a></li>
        <li><a href="{{ path('news_index') }}">Новости</a></li>
        <li><a href="{{ path('horoscope_index') }}">Гороскоп на день</a></li>
        <li><a href="{{ path('rates_index') }}">Курсы валют</a></li>
        <li><a href="{{ path('weather_country') }}">Погода</a></li>
    </ul>
{% endblock %}
