{% extends '::base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_index') }}">Файлообменник (библиотека, скрипты, софт) <span class="ui-li-count">{{ file_count_all() }}</span></a></li>
        <li><a href="{{ path('downloads') }}">Загрузки, развлечения</a></li>
        <li><a href="{{ path('utilities') }}">Полезные WEB приложения</a></li>
        <li><a href="{{ path('programming') }}">WEB мастерская</a></li>
        <li><a href="{{ path('proxy_index') }}">Анонимайзер</a></li>
        <li><a href="{{ path('archiver_index') }}">Архиватор</a></li>
        <li><a href="{{ path('forum_index') }}">Форум <span class="ui-li-count">{{ wapinet_forum_topics_count() }} | {{ wapinet_forum_posts_count() }}</span></a></li>
        <li><a href="{{ path('guestbook_index') }}">Гостевая <span class="ui-li-count">{{ guestbook_count_all() }}</span></a></li>
        <li><a href="{{ path('news_index') }}">Новости <span class="ui-li-count">{{ news_last_date()|wapinet_datetime|default('Новостей нет') }}</span></a></li>
        <li><a href="{{ path('govnowap_index') }}">Говновап</a></li>
    </ul>
{% endblock %}
