{% extends '::base.html.twig' %}

{% block title %}Главная{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="#">Файлообменник <span class="ui-li-count">123</span></a></li>
        <li><a href="{{ path('downloads') }}">Загрузки</a></li>
        <li><a href="{{ path('fun') }}">Развлечения</a></li>
        <li><a href="{{ path('programming') }}">WAP мастеру</a></li>
        <li><a href="#">Анонимайзер</a></li>
        <li><a href="#">Архиватор</a></li>
        <li><a href="#">Форум</a> <span class="ui-li-count">234</span></li>
        <li><a href="#">Гостевая</a> <span class="ui-li-count">265</span></li>
        <li><a href="{{ path('wapinet_news') }}">Новости</a> <span class="ui-li-count">{{ wapinet_news_last_date()|wapinet_datetime|default('Новостей нет') }}</span></li>
        <li><a href="http://govnowap.ru" rel="external">Говновап</a></li>
    </ul>
{% endblock %}
