{% extends '::base.html.twig' %}

{% block title %}Онлайн{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    <form class="ui-filterable" action="#">
        <input id="filter-input" type="search" />
    </form>
    <table data-role="table" data-filter="true" data-input="#filter-input" class="ui-responsive ui-body-d ui-shadow table-stripe">
        <thead>
            <tr class="ui-bar-d">
                <th data-priority="1">Время</th>
                <th data-priority="persist">IP</th>
                <th data-priority="3">Браузер</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th data-priority="4">Путь</th>
                    <th data-priority="6">Реферер</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for item in online %}
            <tr>
                <td>{{ item.datetime|wapinet_time }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.browser }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ item.request.pathInfo }}</td>
                    <td>{{ item.request.headers.get('referer') }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
