{% extends '::base.html.twig' %}

{% block title %}WEB мастерская{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('rest_index') }}"><abbr title="Representational State Transfer — передача состояния представления">REST</abbr> клиент</a></li>
        <li><a href="{{ path('whois_index') }}"><abbr title="who is — кто такой? (сетевой протокол прикладного уровня)">WHOIS</abbr> - информация о домене или IP</a></li>
        <li><a href="{{ path('pagerank_index') }}">Анализ индексирования сайта</a></li>
        <li><a href="{{ path('php_validator_index') }}">PHP валидатор</a></li>
        <li><a href="{{ path('html_validator_index') }}">HTML валидатор</a></li>
        <li><a href="{{ path('css_validator_index') }}">CSS валидатор</a></li>
        <li><a href="{{ path('php_obfuscator_index') }}">PHP обфускатор</a></li>
        <li><a href="{{ path('open_source') }}">Open source разработки</a></li>
        <li><a href="{{ path('textbook') }}">Учебники</a></li>
    </ul>
{% endblock %}
