{% extends '::base.html.twig' %}

{% block title %}WEB мастерская{% endblock %}
{% block menu %}
    {{ wapinet_menu() }}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('open_source') }}">Open source разработки</a></li>
        <li><a href="{{ path('buy_php_scripts') }}">Платные PHP скрипты</a></li>
        <li><a href="#">Бесплатные PHP скрипты</a></li>
        <li><a href="#">FTP менеджер (Punk 77)</a></li>
        <li><a href="#">FTP менеджер (Net2Ftp)</a></li>
        <li><a href="#">PHP валидатор</a></li>
        <li><a href="#">WML XHTML HTML валидатор</a></li>
        <li><a href="#">CSS валидатор</a></li>
        <li><a href="#">XML валидатор</a></li>
        <li><a href="{{ path('rest_index') }}">REST клиент</a></li>
        <li><a href="{{ path('obfuscator_index') }}">PHP обфускатор</a></li>
        <li><a href="{{ path('whois_index') }}">WHOIS - информация о домене или IP</a></li>
        <li><a href="{{ path('textbook') }}">Учебники</a></li>
        <li><a href="{{ path('pagerank_index') }}">Анализ индексирования сайта</a></li>
    </ul>
{% endblock %}
