{% extends '::base.html.twig' %}

{% block title %}Учебники{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_enhanced_ru.chm') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_enhanced_ru.png') }}" />
                <h2>PHP мануал</h2>
                <p>Официальный мануал по PHP на русском языке с комментариями пользователей. Сборка от 22.11.2013</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_gutmans-bakken-rethans.djvu') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_gutmans-bakken-rethans.png') }}" />
                <h2>PHP 5 Профессиональное программирование</h2>
                <p>Энди Гутманс, Стиг Баккен, Дерик Ретранс. 2006 г.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_harrington.pdf') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_harrington.png') }}" />
                <h2>PHP трюки. 100 советов и рекомендаций профессионалов</h2>
                <p>Джек Д. Харрингтон. 2008 г.</p>
            </a>
            <a href="{{ asset('bundles/wapinet/textbook/php_harrington.zip') }}">Примеры кода из книги</a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_schlossngale.djvu') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_schlossngale.png') }}" />
                <h2>Профессиональное программирование на PHP</h2>
                <p>Джорж Шлосснейгл. 2006 г.<br />Практическое руководство по разработке крупномасштабных Web-сайтов и приложений с помощью PHP 5</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_welling-thomson.pdf') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_welling-thomson.png') }}" />
                <h2>Разработка WEB-приложений на PHP и MySQL</h2>
                <p>Лаура Томсон, Люк Веллинг. 2003 г.<br />Издание второе исправленное</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_zandstra.djvu') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_zandstra.png') }}" />
                <h2>PHP объекты, шаблоны и методики программирования</h2>
                <p>Мэтт Зандстра. 2010 г. Издание второе</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_davis_phillips.pdf') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_davis_phillips.png') }}" />
                <h2>Изучаем PHP и MySQL</h2>
                <p>Мишель Е. Дэвис, Джон А. Филлипс. 2008 г.</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_petin.pdf') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_petin.png') }}" />
                <h2>Сайт на AJAX под ключ</h2>
                <p>Виктор Петин. 2011 г.<br />Готовое решение для интернет-магазина</p>
            </a>
        </li>
        <li class="ui-li-has-thumb">
            <a href="{{ asset('bundles/wapinet/textbook/php_lengstorf.djvu') }}">
                <img alt="" src="{{ asset('bundles/wapinet/textbook/php_lengstorf.png') }}" />
                <h2>PHP и jQuery для профессионалов</h2>
                <p>Джейсон Ленгсторф. 2011 г.<br />Повышение интерактивности PHP-сайтов с помощью jQuery</p>
            </a>
            <a href="{{ asset('bundles/wapinet/textbook/php_lengstorf.zip') }}">Примеры кода из книги</a>
        </li>
    </ul>
{% endblock %}
