{% extends '::base.html.twig' %}

{% block title %}Полезные WEB приложения{% endblock %}
{% block menu %}
    {{ wapinet_menu() }}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('archiver_index') }}">Архиватор</a></li>
        <li><a href="{{ path('proxy_index') }}">Анонимайзер</a></li>
        <li><a href="{{ path('icq_index') }}">Все об ICQ</a></li>
        <li><a href="{{ path('mobile_code_index') }}">Телефонные коды</a></li>
        <li><a href="{{ path('browser_info') }}">Информация о браузере</a></li>
        <li><a href="{{ path('email_index') }}">Отправка E-mail</a></li>
        <li><a href="{{ path('translate_index') }}">Переводчик</a></li>
        <li><a href="{{ path('unicode_index') }}">Конвертер в Unicode</a></li>
        <li><a href="{{ path('unicode_icons') }}">Пиктограммы в Unicode</a></li>
        <li><a href="{{ path('rename_index') }}">Переименование файлов</a></li>
        <li><a href="{{ path('sms_index') }}">Отправка СМС</a></li>
        <li><a href="{{ path('audio_tags_index') }}">Редактор аудио тегов</a></li>
    </ul>
{% endblock %}
