{% extends "::base.html.twig" %}

{% block title %}Редактор аудио тегов{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('utilities'), 'title': 'Полезные WEB приложения'}
    })}}
{% endblock %}

{% block content %}
    {% if result is not null %}
        <strong>
            {% if result %}
                Аудио теги успешно изменены
            {% else %}
                Произошла ошибка при изменении аудио тегов
            {% endif %}
        </strong>
    {% endif %}

    <p>
        <a href="{{ path('audio_tags_download', {'fileName': fileName}) }}">Скачать файл</a>
    </p>
    {{ form_start(form, {'action': path('audio_tags_edit', {'fileName': fileName}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
