{% extends '::base.html.twig' %}

{% block title %}Редактор аудио тегов{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'}
    })}}
{% endblock %}

{% block content %}
    {% if info.audio is not defined %}
        <div>Неподдерживаемый тип данных</div>
    {% else %}
        <p>
            <a data-role="button" title="{{ originalFileName }}" href="{{ path('audio_tags_download', {'fileName': fileName, 'originalFileName': originalFileName}) }}">Скачать файл</a>
            Формат: {{ info.audio.dataformat }}<br />
            Битрейт: {{ info.audio.bitrate }} ({{ info.audio.bitrate_mode }})<br />
            Частота дискретизации: {{ info.audio.sample_rate }}<br />
            Размер: {{ info.filesize|wapinet_size }}<br />
            Каналы: {{ info.audio.channelmode }}<br />
        </p>
        {{ form_start(form, {'action': path('audio_tags_edit', {'fileName': fileName, 'originalFileName': originalFileName}), 'method': 'POST'}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
