{% extends '::base.html.twig' %}

{% block title %}Гостевая{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <ul data-role="listview" data-inset="true">
        {% for item in pagerfanta %}
            <li data-role="list-divider">
            <span data-mini="true">
                {% if item.user %}
                    <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_profile', {'username': item.user.username}) }}">{{ item.user.username }}</a>
                {% else %}
                    <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn no-link" href="#" title="{{ item.ip ~ "\r\n" ~ item.browser }}">Anonymous</a>
                {% endif %}
            </span>
                <span class="ui-li-count">{{ item.createdAt|wapinet_datetime }}</span>
            </li>
            <li data-icon="false">
                {% if item.user and item.user.hasAvatar %}
                    <img src="{{ vich_uploader_asset(item.user, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ item.user }}" class="image-preview" />
                {% else %}
                    <img src="{{ asset('static/noavatar.png') }}" alt="Anonymous" class="image-preview" />
                {% endif %}
                {% if item.user and item.user.isOnline %}
                    <span class="avatar-online avatar-online-list"></span>
                {% endif %}
                <div class="long-description">
                    {{ item.message|wapinet_bbcode_parse }}
                </div>
            </li>
        {% else %}
            <li>Сообщений нет.</li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

    {{ form_start(form, {'action': path('guestbook_add'), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
