{% extends '::base.html.twig' %}

{% block title %}Гостевая{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.long-description img.bb").each(function (i) {
                var $image = $(this);

                var data =
                    '<a href="#popup-' + i + '" data-rel="popup" data-position-to="window" data-transition="fade">' +
                        '<img src="' + $image.attr('src') + '" alt="" class="image-preview" />' +
                    '</a>' +
                    '<div data-role="popup" id="popup-' + i + '" data-overlay-theme="b" data-theme="b" data-corners="false">' +
                        '<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Закрыть</a>' +
                        '<img src="' + $image.attr('src') + '" alt="' + $image.attr('alt') + '" style="width: 100%;" />' +
                    '</div>';

                $image.replaceWith(data);
            });

            $("div.fos_comment_thread").enhanceWithin();
        }, false);
    </script>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form, {'action': path('guestbook_add'), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="fos_comment_thread">
        <ul data-role="listview" data-inset="true">
            {% for item in pagerfanta %}
                <li data-role="list-divider">
                    {{ item.createdAt|wapinet_datetime }}
                </li>
                <li data-icon="false">
                    <span class="fos_comment_comment_avatar">
                        {% if item.user and item.user.hasAvatar %}
                            <img src="{{ vich_uploader_asset(item.user, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ item.user }}" class="image-preview" />
                        {% else %}
                            <img src="{{ asset('static/noavatar.png') }}" alt="Anonymous" class="image-preview" />
                        {% endif %}
                        {% if item.user and item.user.isOnline %}
                            <span class="avatar-online"></span>
                        {% endif %}
                    </span>
                    {% block fos_comment_comment_metas_authorline %}
                        <span class="fos_comment_comment_authorname">
                        {% if item.user %}
                            <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_profile', {'username': item.user.username}) }}">{{ item.user.username }}</a>
                        {% else %}
                            <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn no-link" data-rel="popup" data-transition="turn" href="#popup-{{ item.id }}">Anonymous</a>
                            <div data-role="popup" id="popup-{{ item.id }}">
                                <p>{{ item.ip }}<br />{{ item.browser }}</p>
                            </div>
                        {% endif %}
                        </span>
                    {% endblock fos_comment_comment_metas_authorline %}

                    <div class="long-description">
                        {{ item.message|wapinet_bbcode_parse }}
                    </div>
                </li>
            {% else %}
                <li>Сообщений нет.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

{% endblock %}
