{% extends '::base.html.twig' %}

{% block title %}Курсы валют{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'}
    })}}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('rates_show', {'country': 'ru'}) }}"><img src="{{ asset('bundles/wapinet/images/countries/ru.png') }}" alt="Россия" class="ui-li-icon" />Центральный банк Российской Федерации</a></li>
        <li><a href="{{ path('rates_show', {'country': 'by'}) }}"><img src="{{ asset('bundles/wapinet/images/countries/by.png') }}" alt="Беларусь" class="ui-li-icon" />Национальный банк Республики Беларусь</a></li>
        <li><a href="{{ path('rates_show', {'country': 'ua'}) }}"><img src="{{ asset('bundles/wapinet/images/countries/ua.png') }}" alt="Украина" class="ui-li-icon" />Национальный банк Украины</a></li>
        <li><a href="{{ path('rates_show', {'country': 'kz'}) }}"><img src="{{ asset('bundles/wapinet/images/countries/kz.png') }}" alt="Казахстан" class="ui-li-icon" />Национальный банк Республики Казахстан</a></li>
    </ul>
{% endblock %}
