{% extends "::base.html.twig" %}

{% block title %}PHP валидатор{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}


{% block content %}
    {{ form_start(form, {'action': path('php_validator_index'), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
    {% if result is not null %}
        {% if result.validity %}
            <strong>Документ прошел валидацию</strong><br />
        {% endif %}

        {% if result.errors %}
            <strong>Ошибки</strong>
            <ul>
                {% for error in result.errors %}
                    <li>Строка {{ error.line }}: [{{ error.type }}] - {{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет проверить PHP код на наличие синтаксических ошибок.</p>
        </div>
    </div>
{% endblock %}
