<div data-role="collapsible">
    <h4>Содержимое архива</h4>
    <ul data-role="listview" data-inset="true">
    {% for entry in wapinet_archive_list(file.file) %}
        {% set pathView = entry.path %}
        {% set path = entry.path %}

        {% if entry.isDirectory %}
            <li class="directory" data-icon="false">
                <a href="#" class="no-link">{{ pathView }}</a>
            </li>
        {% elseif entry.isEncrypted %}
            <li data-icon="lock">
                <a href="#">{{ pathView }}
                    <span class="ui-li-count">{{ entry.size|wapinet_size }}</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('file_archive_download_file', {'id': file.id, 'name': entry.path|basename, 'path': entry.path}) }}">{{ pathView }}
                    <span class="ui-li-count">{{ entry.size|wapinet_size }}</span>
                </a>
            </li>
        {% endif %}

    {% else %}
        <li>
            Не удается открыть архив.
        </li>
    {% endfor %}
    </ul>
</div>
