{% set path = user.avatar ? user.avatar.path : wapinet_nophoto %}

<a href="#avatar{{ user.id }}" data-rel="popup" data-position-to="window" data-transition="fade">
    <img src="{{ path }}" alt="{{ user.username }}" class="avatar_preview" />
</a>
<div data-role="popup" id="avatar{{ user.id }}" data-overlay-theme="a" data-theme="d" data-corners="false">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Закрыть</a>
    <img src="{{ path }}" alt="{{ user.username }}" />
</div>