{% block captcha_widget %}
    {% if is_human %}
        -
    {% else %}
        {% spaceless %}
            <img id="{{ image_id }}" src="{{ captcha_code }}" alt="код" width="{{ captcha_width }}" height="{{ captcha_height }}" />
            {% if reload %}
                {% block javascripts %}
                    <script type="text/javascript">
                        function reload_{{ image_id }}() {
                            var img = document.getElementById('{{ image_id }}');
                            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                        }
                    </script>
                {% endblock javascripts %}
                <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">Обновить</a>
            {% endif %}
            {{ form_widget(form) }}
        {% endspaceless %}
    {% endif %}
{% endblock %}

