{% set preview = image.preview is defined ? image.preview : image.src %}
{% set badge = image.badge is defined ? image.badge : null %}

<a href="#image-{{ image.id }}" data-rel="popup" data-position-to="window" data-transition="fade">
    <img src="{{ preview }}" alt="{{ image.alt }}" class="image-preview" />
    {% if badge is not null %}
        <span class="{{ badge }}"></span>
    {% endif %}
</a>
<div class="image-popup" data-role="popup" id="image-{{ image.id }}" data-overlay-theme="a" data-corners="false">
    <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Закрыть</a>
    <img data-src="{{ image.src }}" src="{{ preview }}" alt="{{ image.alt }}" />
</div>
