{% extends 'base.html.twig' %}

{% block title %}WHOIS - информация о домене или IP{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('whois_index'), 'method': 'POST'}) }}
    {% if result is not null %}
        <div>
            <label>Server: {{ result.server }}</label>
        </div>
        <div class="ui-corner-all custom-corners">
            <div class="ui-body ui-body-a">
                {% if 'WHOIS' == type %}
                    <pre>{{ result.response }}</pre>
                {% elseif 'RDAP' == type %}
                    <pretty-json expand="2">{{ result.response }}</pretty-json>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет получить регистрационные данные о владельцах доменных имён, IP-адресов и автономных систем. Используется комбинация из <abbr title="Registration Data Access Protocol - Протокол доступа к регистрационным данным">RDAP</abbr> и <abbr title="WHOIS (от англ. who is — «кто это?») — сетевой протокол прикладного уровня, базирующийся на протоколе TCP (порт 43). Основное применение — получение регистрационных данных о владельцах доменных имён, IP-адресов и автономных систем.">WHOIS</abbr> серверов.</p>
        </div>
    </div>
{% endblock %}
