{% extends '::base.html.twig' %}

{% block title %}PHP обфускатор{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}


{% block content %}
    Данный сервис позволяет <abbr title="Обфускация или запутывание кода — приведение исходного текста или исполняемого кода программы к виду, сохраняющему ее функциональность, но затрудняющему анализ, понимание алгоритмов работы и модификацию при декомпиляции">обфусцировать</abbr> PHP код.
    <br/>

    {{ form_start(form, {'action': path('obfuscator_index'), 'method': 'POST'}) }}
    {% if result is not null %}
        <label>Результат <textarea>{{ result }}</textarea></label>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
