{% extends "base.html.twig" %}

{% block title %}Гороскоп на день{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'}
    })}}
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('horoscope_day') }}">Общая характеристика дня</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'aries'}) }}"><img src="{{ asset('build/app/images/zodiac/aries.png') }}" alt="Овен" class="ui-li-icon" />Овен</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'taurus'}) }}"><img src="{{ asset('build/app/images/zodiac/taurus.png') }}" alt="Телец" class="ui-li-icon" />Телец</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'gemini'}) }}"><img src="{{ asset('build/app/images/zodiac/gemini.png') }}" alt="Близнецы" class="ui-li-icon" />Близнецы</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'cancer'}) }}"><img src="{{ asset('build/app/images/zodiac/cancer.png') }}" alt="Рак" class="ui-li-icon" />Рак</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'leo'}) }}"><img src="{{ asset('build/app/images/zodiac/leo.png') }}" alt="Лев" class="ui-li-icon" />Лев</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'virgo'}) }}"><img src="{{ asset('build/app/images/zodiac/virgo.png') }}" alt="Дева" class="ui-li-icon" />Дева</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'libra'}) }}"><img src="{{ asset('build/app/images/zodiac/libra.png') }}" alt="Весы" class="ui-li-icon" />Весы</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'scorpio'}) }}"><img src="{{ asset('build/app/images/zodiac/scorpio.png') }}" alt="Скорпион" class="ui-li-icon" />Скорпион</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'sagittarius'}) }}"><img src="{{ asset('build/app/images/zodiac/sagittarius.png') }}" alt="Стрелец" class="ui-li-icon" />Стрелец</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'capricorn'}) }}"><img src="{{ asset('build/app/images/zodiac/capricorn.png') }}" alt="Козерог" class="ui-li-icon" />Козерог</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'aquarius'}) }}"><img src="{{ asset('build/app/images/zodiac/aquarius.png') }}" alt="Водолей" class="ui-li-icon" />Водолей</a></li>
        <li class="ui-li-has-icon"><a href="{{ path('horoscope_show', {'zodiac': 'pisces'}) }}"><img src="{{ asset('build/app/images/zodiac/pisces.png') }}" alt="Рыбы" class="ui-li-icon" />Рыбы</a></li>
    </ul>
{% endblock %}
