{% extends "base.html.twig" %}

{% block title %}Анализ индексирования сайта{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    {% if result is not null %}
        <ul data-role="listview" data-inset="true">
            <li>
                Google
            </li>
            <li>
                <a rel="external" href="https://www.google.com/search?q=site%3A{{ result.domain }}">
                    Проиндексировано страниц <span class="ui-li-count">{{ result.google.pages }}</span>
                </a>
            </li>
            <li>
                <a rel="external" href="https://www.google.com/search?q=%22{{ result.domain }}%22%20-inurl%3A%22{{ result.domain }}%22">
                    Обратных ссылок <span class="ui-li-count">{{ result.google.inurl }}</span>
                </a>
            </li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li>
                Яндекс
            </li>
            <li>
                <a rel="external" href="https://www.yandex.ru/cycounter?{{ result.domain }}">
                    Яндекс ТИЦ <span class="ui-li-count">{{ result.yandex.tcy }}</span>
                </a>
            </li>
            <li>
                <a rel="external" href="https://yandex.ru/yandsearch?text={{ result.domain }}">
                    Проиндексировано страниц <span class="ui-li-count">{{ result.yandex.pages }}</span>
                </a>
            </li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li>
                Facebook
            </li>
            <li>
                <a rel="external" href="#">
                    Ссылок <span class="ui-li-count">{{ constant('SEOstats\\Config\\DefaultSettings::DEFAULT_RETURN_NO_DATA') == result.facebook ? result.facebook : result.facebook.share_count }}</span>
                </a>
            </li>
            <li>
                <a rel="external" href="#">
                    Комментариев <span class="ui-li-count">{{ constant('SEOstats\\Config\\DefaultSettings::DEFAULT_RETURN_NO_DATA') == result.facebook ? result.facebook : result.facebook.comment_count }}</span>
                </a>
            </li>
            <li>
                <a rel="external" href="#">
                    Лайков <span class="ui-li-count">{{ constant('SEOstats\\Config\\DefaultSettings::DEFAULT_RETURN_NO_DATA') == result.facebook ? result.facebook : result.facebook.like_count }}</span>
                </a>
            </li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li>
                Вконтакте
            </li>
            <li>
                <a rel="external" href="https://vk.com">
                    Ссылок <span class="ui-li-count">{{ result.vk }}</span>
                </a>
            </li>
        </ul>
    {% endif %}

    {{ form_start(form, {'action': path('pagerank_index'), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>
                <em>Тематический индекс цитирования</em> (тИЦ) — технология поисковой машины "Яндекс", заключающаяся в определении "авторитетности" интернет-ресурсов с учётом качественной характеристики — ссылок на них с других сайтов. тИЦ рассчитывается по специально разработанному алгоритму, в котором особое значение придаётся тематической близости ресурса и ссылающихся на него сайтов. Данный показатель в первую очередь используется для определения порядка расположения ресурсов в рубриках каталога "Яндекса".
            </p>
        </div>
    </div>

{% endblock %}
