{% extends "base.html.twig" %}
{% block title %}Новости{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        {% if pagerfanta and pagerfanta.count > 0 %}
            {% for entity in pagerfanta %}
                <li data-role="list-divider">{{ entity.createdAt|wapinet_datetime }}</li>
                <li>
                    <a href="{{ path('news_show', {'id': entity.id}) }}">
                        <h2>{{ entity.subject }}</h2>
                        {% if entity.updatedAt is not null %}
                            <p><strong>Обновлено {{ entity.updatedAt|wapinet_datetime }}</strong></p>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>
                Нет новостей для отображения.
            </li>
        {% endif %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>
{% endblock %}
