{% extends "base.html.twig" %}

{% block title %}Конвертер в Unicode{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'}
    })}}
{% endblock %}


{% block content %}
    {{ form_start(form, {'action': path('unicode_index'), 'method': 'POST'}) }}
    {% if result is not null %}
        <label>Результат <textarea>{{ result }}</textarea></label>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}

<div class="ui-corner-all custom-corners">
    <div class="ui-body ui-body-a">
        <p>Сервис позволяет перекодировать текст в кодировку <abbr title="Юникод (англ. Unicode) — стандарт кодирования символов, позволяющий представить знаки практически всех письменных языков">Unicode</abbr>.</p>
    </div>
</div>
{% endblock %}
