{% extends "base.html.twig" %}

{% block title %}CSS валидатор{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}


{% block content %}
    {{ form_start(form, {'action': path('css_validator_index'), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}

    {% if result is not null %}
        {% if result.valid %}
            <strong>Документ прошел валидацию</strong><br />
        {% endif %}

        {% if result.errors %}
            <strong>Ошибки</strong>
            <ul>
            {% for error in result.errors %}
                <li>Строка {{ error.line }}: [{{ error.errorType }}] - {{ error.message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if result.warnings %}
            <strong>Предупреждения</strong>
            <ul>
            {% for warning in result.warnings %}
                <li>Строка {{ warning.line }}: {{ warning.message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {{ form_errors(form) }}

    {{ form_row(form.css) }}
    {{ form_row(form.file) }}
    <div class="ui-grid-a">
        <div class="ui-block-a">{{ form_row(form.profile) }}</div>
        <div class="ui-block-b">{{ form_row(form.warning) }}</div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}


    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Проверка каскадных таблиц стилей (<abbr title="Cascading Style Sheets">CSS</abbr>) и документов <abbr title="HyperText Markup Language">(x)HTML</abbr> с таблицами стилей.<br />Валидацию проводит валидатор <abbr title="World Wide Web Consortium">W3C</abbr>.</p>
        </div>
    </div>
{% endblock %}
