{% extends '::base.html.twig' %}

{% block title %}Категории{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_list', {'category': 'video'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/video.png') }}" alt="" class="ui-li-icon"/>Видео</a> <span class="ui-li-count">{{ file_count_category('video') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'audio'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/audio.png') }}" alt="" class="ui-li-icon"/>Аудио</a> <span class="ui-li-count">{{ file_count_category('audio') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'image'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/image.png') }}" alt="" class="ui-li-icon"/>Картинки</a> <span class="ui-li-count">{{ file_count_category('image') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'text'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/text.png') }}" alt="" class="ui-li-icon"/>Текстовые файлы</a> <span class="ui-li-count">{{ file_count_category('text') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'office'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/office.png') }}" alt="" class="ui-li-icon"/>Офисные документы</a> <span class="ui-li-count">{{ file_count_category('office') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'archive'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/archive.png') }}" alt="" class="ui-li-icon"/>Архивы</a> <span class="ui-li-count">{{ file_count_category('archive') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'android'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/android.png') }}" alt="" class="ui-li-icon"/>Приложения Android</a> <span class="ui-li-count">{{ file_count_category('android') }}</span></li>
        <li><a href="{{ path('file_list', {'category': 'java'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/java.png') }}" alt="" class="ui-li-icon"/>Приложения Java</a> <span class="ui-li-count">{{ file_count_category('java') }}</span></li>
    </ul>
{% endblock %}
