{% extends "base.html.twig" %}

{% block title %}Категории{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'video'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/video.png') }}" alt="" class="ui-li-icon"/>Видео <span class="ui-li-count">{{ file_count_category('video')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'audio'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/audio.png') }}" alt="" class="ui-li-icon"/>Аудио <span class="ui-li-count">{{ file_count_category('audio')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'image'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/image.png') }}" alt="" class="ui-li-icon"/>Картинки <span class="ui-li-count">{{ file_count_category('image')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'text'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/text.png') }}" alt="" class="ui-li-icon"/>Текстовые файлы <span class="ui-li-count">{{ file_count_category('text')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'office'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/office.png') }}" alt="" class="ui-li-icon"/>Офисные документы <span class="ui-li-count">{{ file_count_category('office')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'archive'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/archive.png') }}" alt="" class="ui-li-icon"/>Архивы <span class="ui-li-count">{{ file_count_category('archive')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'android'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/android.png') }}" alt="" class="ui-li-icon"/>Приложения Android <span class="ui-li-count">{{ file_count_category('android')|wapinet_count }}</span></a></li>
        <li class="ui-li-has-icon"><a href="{{ path('file_list', {'category': 'java'}) }}"><img src="{{ asset('bundles/wapinet/images/file/categories/java.png') }}" alt="" class="ui-li-icon"/>Приложения Java <span class="ui-li-count">{{ file_count_category('java')|wapinet_count }}</span></a></li>
    </ul>
{% endblock %}
