{% extends '::base.html.twig' %}

{% block title %}Редактирование файла - {{ file.originalFileName }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'},
    3: {'uri': path('file_view', {'id': file.id}), 'title': file.originalFileName}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('file_edit', {'id': file.id}), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.file) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tags) }}
    <ul id="suggestions" data-role="listview" data-inset="true"></ul>

    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <input type="checkbox" id="edit-password" />
        <label for="edit-password" title="Включите, если файл нужно защитить паролем">Пароль</label>
    </fieldset>

    <div id="edit-password-row" style="display: none;">
        {{ form_widget(form.plainPassword) }}
    </div>
    <br />

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
