{% extends '::base.html.twig' %}

{% block title %}Файлообменник{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'}
    })}}
{% endblock %}

{% block content %}
    <div data-role="collapsible" data-collapsed="false">
        <h2>Новые файлы</h2>
        <ul data-role="listview">
            <li><a href="{{ path('file_list', {'date': 'yesterday'}) }}">За вчера <span class="ui-li-count">{{ file_count_yesterday()|wapinet_count }}</span></a></li>
            <li><a href="{{ path('file_list', {'date': 'today'}) }}">За сегодня <span class="ui-li-count">{{ file_count_today()|wapinet_count }}</span></a></li>
        </ul>
    </div>

    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('file_list') }}">Все файлы <span class="ui-li-count">{{ file_count_all()|wapinet_count }}</span></a></li>
        <li><a href="{{ path('file_categories') }}">Категории</a></li>
        <li><a href="{{ path('file_tags') }}">Тэги</a></li>
        <li data-icon="search"><a href="{{ path('file_search') }}">Поиск</a></li>
    </ul>

    <div data-role="collapsible" data-collapsed="false">
        <h2>Комментарии</h2>
        <ul data-role="listview" class="file-comments">
            {% for comment in comments %}
                <li data-role="list-divider">
                    <span>
                        <a class="bar-button ui-btn-icon-right ui-icon-comment ui-mini ui-btn-inline ui-btn" href="{{ comment.permalink }}">&gt;&gt;&gt;</a>
                        <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_profile', {'username': comment.username}) }}">{{ comment.username }}</a>
                    </span>
                    <span class="ui-li-count">{{ comment.createdAt|wapinet_datetime }}</span>
                </li>
                <li>
                    <div>
                        {{ comment.body|wapinet_bbcode_parse }}
                    </div>
                </li>
            {% else %}
                <li>Комментариев нет.</li>
            {% endfor %}
        </ul>
    </div>

    <ul data-role="listview" data-inset="true">
        <li data-icon="action"><a href="{{ path('file_upload') }}">Загрузить файл</a></li>
        <li data-icon="info"><a href="{{ path('file_statistic') }}">Статистика</a></li>
        <li data-icon="alert"><a href="{{ path('file_information') }}">Информация</a></li>
    </ul>
{% endblock %}
