{% extends '::base.html.twig' %}

{% block title %}Файлы{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        {% for file in files %}
            <li>
                <a href="{{ path('file_view', {'id': file.id}) }}">
                    {% if file.isImage %}
                        <img src="{{ vich_uploader_asset(file, 'file')|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                        <h2>{{ file.originalFileName }}</h2>
                        <p>{{ file.file.size|wapinet_size }}, {{ file.imageSize.width }}x{{ file.imageSize.height }}</p>
                    {% elseif file.isVideo %}
                        {% set info = wapinet_video_info(file.file) %}
                        <img src="{{ vich_uploader_asset(file, 'file')|wapinet_video_screenshot|imagine_filter('thumbnail') }}" alt="{{ file.originalFileName }}" />
                        <h2>{{ file.originalFileName }}</h2>
                        <p>{{ file.file.size|wapinet_size }}, {{ info.dimensions.width }}x{{ info.dimensions.height }}, {{ info.get('duration')|wapinet_length }}</p>
                    {% else %}
                        <h2>{{ file.originalFileName }}</h2>
                        <p>{{ file.file.size|wapinet_size }}</p>
                    {% endif %}
                </a>
            </li>
        {% else %}
            <li>
                Нет файлов для отображения.
            </li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(files) }}
    </div>
{% endblock %}
