{% extends '::base.html.twig' %}

{% block title %}Поиск{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('file_search'), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.search) }}


    <fieldset data-role="controlgroup">
        {{ form_widget(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.description) }}
        {{ form_label(form.description) }}
    </fieldset>

    {{ form_row(form.mime, {'attr': {'data-native-menu': 'false'}}) }}

    <fieldset class="ui-grid-a">
        <div class="ui-block-a">{{ form_row(form.created_after) }}</div>
        <div class="ui-block-b">{{ form_row(form.created_before) }}</div>
    </fieldset>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}
