{% extends '::base.html.twig' %}

{% block title %}Статистика{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li>
            Файлов <span class="ui-li-count">{{ statistic.count_files }}</span>
        </li>
        <li>
            Просмотров <span class="ui-li-count">{{ statistic.count_views }}</span>
        </li>
        <li data-role="list-divider">
            Активные пользователи
        </li>
        {% for user in statistic.users %}
            <li>
                <a href="{{ path('wapinet_user_profile', {'username': user.username}) }}">
                    {{ user.username }}
                </a>
                <span class="ui-li-count">{{ user.uploads }}</span>
            </li>
        {% else %}
            <li>
                Не найдены.
            </li>
        {% endfor %}
    </ul>
{% endblock %}
