{% extends '::base.html.twig' %}

{% block title %}Статистика{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li>
            Файлов <span class="ui-li-count">{{ statistic.count_files|wapinet_count }}</span>
        </li>
        <li>
            Объем <span class="ui-li-count">{{ statistic.size_files|wapinet_size }}</span>
        </li>
        <li>
            Просмотров <span class="ui-li-count">{{ statistic.count_views|wapinet_count }}</span>
        </li>
    </ul>
    {% if statistic.users %}
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">
                Активные пользователи
            </li>
            {% for user in statistic.users %}
                <li>
                    <a href="{{ path('wapinet_user_profile', {'username': user.username}) }}">
                        {{ user.username }}
                        <span class="ui-li-count">{{ user.uploads }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
