{% extends '::base.html.twig' %}

{% block title %}{{ file.originalFileName }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/wapinet/js/swiper.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wapinet/css/swiper.css') }}" />
{% endblock %}

{% block body %}
    <div data-role="page" class="swiper-page" data-title="{{ file.originalFileName }}" data-dom-cache="true" data-theme="b" style="background-image: url('{{ vich_uploader_asset(file, 'file') }}');">
        <div id="header" data-role="header" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
            <h1>{{ file.originalFileName }}</h1>
            <a data-ajax="false" href="{{ path('file_view', {'id': file.id}) }}" data-direction="reverse" data-icon="delete" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Закрыть</a>
            <a data-ajax="false" href="{{ vich_uploader_asset(file, 'file') }}" data-icon="arrow-d" data-iconpos="notext" data-shadow="false" data-icon-shadow="false" download="{{ file.originalFileName }}">Скачать</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
        </div><!-- /content -->

        <div id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
            <div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
                <a href="{{ prevFile ? path('file_swiper', {'id': prevFile.id}) : '#' }}" class="{% if prevFile is null %}ui-state-disabled {% endif %}ui-btn ui-btn-icon-notext ui-icon-carat-l" id="swiper-prev">Пред.</a>
                <a href="{{ nextFile ? path('file_swiper', {'id': nextFile.id}) : '#' }}" class="{% if nextFile is null %}ui-state-disabled {% endif %}ui-btn ui-btn-icon-notext ui-icon-carat-r" id="swiper-next">След.</a>
            </div>

            <a href="#" class="image-size-btn ui-btn ui-btn-right ui-btn-icon-notext ui-icon-eye ui-mini ui-corner-all">Подгонка</a>
        </div><!-- /footer -->
    </div><!-- /page -->
{% endblock %}
