{% extends '::base.html.twig' %}

{% block title %}Загрузить файл{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">{% autoescape 'js' %}
        $(document).on("pagebeforeshow", "#page", function () {
            $('#file_upload').submit(function () {
                return FileLoader.uploadFile(this);
            });
        });
    {% endautoescape %}</script>
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('file_upload'), 'method': 'POST', 'attr': {'id': 'file_upload'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.file) }}
        {{ form_row(form.description) }}
        {{ form_row(form.tags_string) }}

        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input type="checkbox" id="upload-password" onchange="$('#upload-password-row').slideToggle();" />
            <label for="upload-password" title="Включите, если файл нужно защитить паролем">Пароль</label>
        </fieldset>

        <br />

        <div id="upload-password-row" style="display: none;">
            {{ form_widget(form.password) }}
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
