{% extends '::base.html.twig' %}

{% block title %}Загрузить файл{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('file_upload'), 'method': 'POST'}) }}
        {{ form_errors(form) }}

        {{ form_row(form.file) }}
        {{ form_row(form.description) }}
        {# {{ form_row(form.categories) }} #}

        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input type="checkbox" id="upload-password" onchange="$('#upload-password-row').toggle();" />
            <label for="upload-password" title="Включите, если файл нужно защитить паролем">Пароль</label>
        </fieldset>
        <span id="upload-password-row" style="display: none">
            {{ form_widget(form.password) }}
        </span>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
