{% extends '::base.html.twig' %}

{% block title %}{% if file is null%}Файл не найден{% else %}{{ file.originalFileName }}{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block javascripts %}
    {% if file is not null %}
        {% if file.isPlayableVideo %}
            <script type="text/javascript">
                {% include '@Wapinet/video.js.twig' with {'file': file} %}
            </script>
        {% elseif file.isPlayableAudio %}
            <script type="text/javascript">
                {% include '@Wapinet/audio.js.twig' with {'file': file} %}
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if file is null%}
        Файл не найден
    {% else %}
        <a data-role="button" href="{{ vich_uploader_asset(file, 'file') }}" download="{{ file.originalFileName }}">Скачать</a>

        {% if file.isImage %}
            {% set info = wapinet_image_info(file.file) %}

            {% if info is not null %}
                {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': vich_uploader_asset(file, 'file') } } %}
                <p>{{ info.size.width }}x{{ info.size.height }}</p>
            {% endif %}
        {% elseif file.isVideo %}
            {% set info = wapinet_video_info(file.file) %}
            {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_video_screenshot %}

            {% if file.isPlayableVideo %}
                {% include '@Wapinet/video.html.twig' with {'file': file} %}
            {% else %}
                {% if screenshot is not null %}
                    {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot } } %}
                {% endif %}
            {% endif %}

            {% if info is not null %}
                <p>{{ info.dimensions.width }}x{{ info.dimensions.height }}{{ info.has('duration') ? ', ' ~ info.get('duration')|wapinet_length : '' }}</p>
            {% endif %}
        {% elseif file.isAudio %}
            {% set info = wapinet_audio_info(file.file) %}

            {% if file.isPlayableAudio %}
                {% include '@Wapinet/audio.html.twig' with {'file': file} %}
            {% endif %}

            {% if info is not null %}<p>{{ info.has('duration') ? info.get('duration')|wapinet_length : '' }}</p>{% endif %}
        {% elseif file.isArchive %}
            {% if file.isExtractableArchive %}
                {% include '@Wapinet/archive.html.twig' with {'file': file} %}
            {% endif %}
        {% endif %}

        <pre>{{ file.description }}</pre>
        <table data-role="table" class="ui-responsive table-stroke">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Загружено:</td>
                <td>{{ file.createdAt|wapinet_datetime }}</td>
            </tr>
            <tr>
                <td>Размер:</td>
                <td>{{ file.file.size|wapinet_size }}</td>
            </tr>
            <tr>
                <td>Всего просмотров:</td>
                <td>{{ file.countViews }}</td>
            </tr>
            <tr>
                <td>Последний просмотр:</td>
                <td>{{ file.lastViewAt|wapinet_datetime }}</td>
            </tr>
            {% if file.user is not null %}
            <tr>
                <td>Пользователь:</td>
                <td><a href="{{ path('wapinet_user_profile', {'username': file.user.username}) }}">{{ file.user.username }}</a></td>
            </tr>
            {% endif %}
            {% if file.password is not null %}
            <tr>
                <td>Пароль:</td>
                <td>&#x2713;</td>
            </tr>
            {% endif %}
            <tr>
                <td><abbr title="Message Digest 5 — 128-битный алгоритм хеширования">MD5</abbr>:</td>
                <td>{{ file.hash }}</td>
            </tr>
            </tbody>
        </table>

        {% include 'WapinetCommentBundle::comments_block.html.twig' %}
    {% endif %}
{% endblock %}
