{% extends '::base.html.twig' %}

{% block title %}{{ file.originalFileName }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}


{% if file.isImage %}
    {% set screenshot = vich_uploader_asset(file, 'file') %}
{% elseif file.isVideo %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_video_screenshot %}
{% elseif file.isJavaApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_java_app_screenshot %}
{% elseif file.isAndroidApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_android_app_screenshot %}
{% endif %}


{% block javascripts %}
    {% if file.isPlayableVideo %}
        <script type="text/javascript">
            {% include '@Wapinet/video.js.twig' with {'file': file} %}
        </script>
    {% elseif file.isPlayableAudio %}
        <script type="text/javascript">
            {% include '@Wapinet/audio.js.twig' with {'file': file} %}
        </script>
    {% endif %}

    {% if app.user and is_granted('DELETE', file) %}
        <script type="text/javascript">{% autoescape 'js' %}
            $(document).bind("pageinit", function () {
                $("#delete-popup-do").on("click", function () {
                    $.post('{{ path('file_delete', {'id': file.id}) }}', function () {
                        window.location.assign('{{ path('file_index') }}');
                    });
                });
            });
        {% endautoescape %}</script>
    {% endif %}

    <script type="text/javascript" src="//yastatic.net/share/share.js"></script>
    <script type="text/javascript">{% autoescape 'js' %}
        $(document).ready(function () {
            new Ya.share({
                theme: 'counter',
                element: 'share',
                title: '{{ file.originalFileName }}',
                description: '{{ file.description|wapinet_bbcode_parse|escape }}',

                {% if screenshot is defined and screenshot is not null %}
                    image: '{{ app.request.schemeAndHttpHost ~ screenshot }}',
                {% endif %}

                elementStyle: {
                    'type': 'none',
                    'quickServices': ['vkontakte', 'facebook', 'twitter', 'odnoklassniki', 'moimir']
                }
            });
        });
    {% endautoescape %}</script>
{% endblock %}

{% block content %}
    <a data-role="button" data-icon="arrow-d" href="{{ vich_uploader_asset(file, 'file') }}" download="{{ file.originalFileName }}">Скачать</a>

    {% if file.isImage %}
        {% include 'WapinetBundle::image.html.twig' with {
            'image': {
            'id': file.id,
            'alt': file.originalFileName,
            'src': vich_uploader_asset(file, 'file'),
            'preview': vich_uploader_asset(file, 'file')|imagine_filter('thumbnail')
            }
        } %}

        {% if file.meta is not null %}
            <pre class="long-description">
                Разрешение: {{ file.meta.get('width') }}x{{ file.meta.get('height') }}<br />
                {% if file.meta.has('dateTimeOriginal') %}
                    Дата съемки: {{ file.meta.get('dateTimeOriginal') }}<br />
                {% endif %}
                {% if file.meta.has('dateTime') %}
                    Дата изменения: {{ file.meta.get('dateTime') }}<br />
                {% endif %}
                {% if file.meta.has('make') %}
                    Производитель фотокамеры: {{ file.meta.get('make') }}<br />
                {% endif %}
                {% if file.meta.has('model') %}
                    Модель фотокамеры: {{ file.meta.get('model') }}<br />
                {% endif %}
                {% if file.meta.has('software') %}
                    Редактировалось в: {{ file.meta.get('software') }}<br />
                {% endif %}
                {% if file.meta.has('comment') %}
                    Комментарий: {{ file.meta.get('comment') }}<br />
                {% endif %}
            </pre>
        {% endif %}
    {% elseif file.isVideo %}
        {% if file.isPlayableVideo %}
            {% include '@Wapinet/video.html.twig' with {'file': file} %}
        {% else %}
            {% if screenshot is defined and screenshot is not null %}
                {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
            {% endif %}
        {% endif %}

        {% if file.meta is not null %}
            <pre class="long-description">
                Разрешение: {{ file.meta.get('width') }}x{{ file.meta.get('height') }}<br />
                {% if file.meta.has('duration') %}
                    Время: {{ file.meta.get('duration')|wapinet_length }}<br />
                {% endif %}
                {% if file.meta.has('codecName') %}
                    Видео кодек: {{ file.meta.get('codecName') }}<br />
                {% endif %}
                {% if file.meta.has('bitRate') %}
                    Видео битрейт: {{ (file.meta.get('bitRate') / 1000)|round }} кбит/сек<br />
                {% endif %}
                {% if file.meta.has('audioCodecName') %}
                    Аудио кодек: {{ file.meta.get('audioCodecName') }}<br />
                {% endif %}
                {% if file.meta.has('audioBitRate') %}
                    Аудио битрейт: {{ (file.meta.get('audioBitRate') / 1000)|round }} кбит/сек<br />
                {% endif %}
                {% if file.meta.has('audioSampleRate') %}
                    Частота дискретизации: {{ (file.meta.get('audioSampleRate') / 1000)|round(1) }} КГц<br />
                {% endif %}
            </pre>
        {% endif %}
    {% elseif file.isAudio %}
        {% if file.isPlayableAudio %}
            {% include '@Wapinet/audio.html.twig' with {'file': file} %}
        {% endif %}

        {% if file.meta is not null %}
            <pre class="long-description">
                {% if file.meta.has('duration') %}
                    Время: {{ file.meta.get('duration')|wapinet_length }}<br />
                {% endif %}
                {% if file.meta.has('codecName') %}
                    Кодек: {{ file.meta.get('codecName') }}<br />
                {% endif %}
                {% if file.meta.has('bitRate') %}
                    Битрейт: {{ (file.meta.get('bitRate') / 1000)|round }} кбит/сек<br />
                {% endif %}
                {% if file.meta.has('sampleRate') %}
                    Частота дискретизации: {{ (file.meta.get('sampleRate') / 1000)|round(1) }} КГц<br />
                {% endif %}
            </pre>
        {% endif %}
    {% elseif file.isArchive and false %} {# @todo: временно отключаем поддержку архивов #}
        {% if file.isExtractableArchive %}
            {% include '@Wapinet/archive.html.twig' with {'file': file} %}
        {% endif %}
    {% elseif file.isJavaApp %}
        {% if screenshot is defined and screenshot is not null %}
            {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
    {% elseif file.isAndroidApp %}
        {% if screenshot is defined and screenshot is not null %}
            {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}

        {% if file.meta is not null %}
            <pre class="long-description">
                {% if file.meta.has('versionName') %}
                    Версия: {{ file.meta.get('versionName') }}<br />
                {% endif %}
                {% if file.meta.has('packageName') %}
                    Внутреннее имя: {{ file.meta.get('packageName') }}<br />
                {% endif %}
                {% if file.meta.has('minSdkVersions') %}
                    Версия Android: {{ file.meta.get('minSdkVersions')|join(',') }}<br />
                {% endif %}
                {% if file.meta.has('permissions') %}
                    Требует доступ:<br />
                    {% for premission in file.meta.get('permissions') %}
                        {% if premission %}
                            &#187; {{ premission }}<br />
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </pre>
        {% endif %}
    {% endif %}

    <fieldset>{{ file.description|wapinet_bbcode_parse }}</fieldset>

    {% if app.user and (is_granted('EDIT', file) or is_granted('DELETE', file)) %}
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            {% if is_granted('EDIT', file) %}
                <a data-role="button" data-icon="edit" href="{{ path('file_edit', {'id': file.id}) }}">Редактировать</a>
            {% endif %}
            {% if is_granted('DELETE', file) %}
                <a data-role="button" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete" href="#delete-popup">Удалить</a>
            {% endif %}
        </fieldset>
    {% endif %}


    <div class="ui-grid-a ui-mini ui-corner-all">
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Загружено</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ file.createdAt|wapinet_datetime }}</div></div>
        {% if file.updatedAt is not null %}
            <div class="ui-block-a"><div class="ui-bar ui-bar-a">Обновлено</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ file.updatedAt|wapinet_datetime }}</div></div>
        {% endif %}
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Размер</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ file.fileSize|wapinet_size }}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Просмотров</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ file.countViews|wapinet_count }}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Последний</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ file.lastViewAt|wapinet_datetime }}</div></div>
        {% if file.user is not null %}
            <div class="ui-block-a"><div class="ui-bar ui-bar-a">{{ file.user.isFemale ? 'Загрузила' : 'Загрузил' }}</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a"><a data-role="none" href="{{ path('wapinet_user_profile', {'username': file.user.username}) }}">{{ file.user.username }}</a></div></div>
        {% endif %}
        {% if file.password is not null %}
            <div class="ui-block-a"><div class="ui-bar ui-bar-a">Пароль</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a">&#x2713;</div></div>
        {% endif %}
        <div class="ui-block-a"><div class="ui-bar ui-bar-a"><abbr title="Message Digest 5 — 128-битный алгоритм хеширования">MD5</abbr></div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="overflow-x: auto">{{ file.hash }}</div></div>
    </div>

    {% if not file.tags.isEmpty %}
        <fieldset>
            {% for tag in file.tags %}
                <a class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow" href="{{ path('file_tag', {'tagName': tag}) }}">{{ tag }}</a>
            {% endfor %}
        </fieldset>
    {% endif %}

    <p id="share"></p>

    {% include 'WapinetCommentBundle::comments_block.html.twig' %}
{% endblock %}

{% block popup %}
    <div data-role="popup" id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить файл?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}
