{% extends '::base.html.twig' %}

{% block title %}{{ file.originalFileName }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}


{% if file.isImage %}
    {% set screenshot = vich_uploader_asset(file, 'file') %}
{% elseif file.isVideo %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_video_screenshot %}
{% elseif file.isJavaApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_java_app_screenshot %}
{% elseif file.isAndroidApp %}
    {% set screenshot = vich_uploader_asset(file, 'file')|wapinet_android_app_screenshot %}
{% endif %}


{% block javascripts %}
    {% if file.isPlayableVideo %}
        <script type="text/javascript">
            {% include '@Wapinet/video.js.twig' with {'file': file} %}
        </script>
    {% elseif file.isPlayableAudio %}
        <script type="text/javascript">
            {% include '@Wapinet/audio.js.twig' with {'file': file} %}
        </script>
    {% endif %}

    {% if app.user and is_granted('DELETE', file) %}
        <script type="text/javascript">{% autoescape 'js' %}
            $(document).bind("pageinit", function () {
                $("#delete-popup-do").on("click", function () {
                    $.post('{{ path('file_delete', {'id': file.id}) }}', function () {
                        window.location.assign('{{ path('file_index') }}');
                    });
                });
            });
        {% endautoescape %}</script>
    {% endif %}

    <script type="text/javascript" src="//yastatic.net/share/share.js"></script>
    <script type="text/javascript">{% autoescape 'js' %}
        $(document).ready(function () {
            new Ya.share({
                theme: 'counter',
                element: 'share',
                title: '{{ file.originalFileName }}',
                description: '{{ file.description|wapinet_bbcode_parse|escape }}',

                {% if screenshot is defined and screenshot is not null %}
                    image: '{{ app.request.schemeAndHttpHost ~ screenshot }}',
                {% endif %}

                elementStyle: {
                    'type': 'none',
                    'quickServices': ['vkontakte', 'facebook', 'twitter', 'odnoklassniki', 'moimir']
                }
            });
        });
    {% endautoescape %}</script>
{% endblock %}

{% block content %}
    <a data-role="button" data-icon="arrow-d" href="{{ vich_uploader_asset(file, 'file') }}" download="{{ file.originalFileName }}">Скачать</a>

    {% if file.isImage %}
        {% set image_info = wapinet_image_info(file.file) %}

        {% if image_info is not null %}
            {% include 'WapinetBundle::image.html.twig' with {
                'image': {
                    'id': file.id,
                    'alt': file.originalFileName,
                    'src': vich_uploader_asset(file, 'file'),
                    'preview': vich_uploader_asset(file, 'file')|imagine_filter('thumbnail')
                }
            } %}
            <p>{{ image_info.size.width }}x{{ image_info.size.height }}</p>

            {% set image_info_metadata = image_info.metadata %}
            {% if image_info_metadata.toArray() is not empty %}
                <pre class="long-description">
                {%- if image_info_metadata.offsetExists('exif.DateTimeOriginal') -%}
                    Дата съемки: {{ image_info_metadata.offsetGet('exif.DateTimeOriginal') }}<br />
                {%- elseif image_info_metadata.offsetExists('ifd0.DateTimeOriginal') -%}
                    Дата съемки: {{ image_info_metadata.offsetGet('ifd0.DateTimeOriginal') }}<br />
                {%- endif %}

                {%- if image_info_metadata.offsetExists('exif.DateTime') -%}
                    Дата изменения: {{ image_info_metadata.offsetGet('exif.DateTime') }}<br />
                {%- elseif image_info_metadata.offsetExists('ifd0.DateTime') -%}
                    Дата изменения: {{ image_info_metadata.offsetGet('ifd0.DateTime') }}<br />
                {%- endif %}

                {%- if image_info_metadata.offsetExists('exif.Make') -%}
                    Производитель фотокамеры: {{ image_info_metadata.offsetGet('exif.Make') }}<br />
                {%- elseif image_info_metadata.offsetExists('ifd0.Make') -%}
                    Производитель фотокамеры: {{ image_info_metadata.offsetGet('ifd0.Make') }}<br />
                {%- endif %}

                {%- if image_info_metadata.offsetExists('exif.Model') -%}
                    Модель фотокамеры: {{ image_info_metadata.offsetGet('exif.Model') }}<br />
                {%- elseif image_info_metadata.offsetExists('ifd0.Model') -%}
                    Модель фотокамеры: {{ image_info_metadata.offsetGet('ifd0.Model') }}<br />
                {%- endif %}

                {%- if image_info_metadata.offsetExists('exif.Software') -%}
                    Редактировалось в {{ image_info_metadata.offsetGet('exif.Software') }}<br />
                {%- elseif image_info_metadata.offsetExists('ifd0.Software') -%}
                    Редактировалось в {{ image_info_metadata.offsetGet('ifd0.Software') }}<br />
                {%- endif %}

                {%- if image_info_metadata.offsetExists('exif.COMMENT') -%}
                    Комментарий: {{ image_info_metadata.offsetGet('exif.COMMENT')|join("\r\n") }}<br />
                {%- elseif image_info_metadata.offsetExists('exif.UserComment') -%}
                    Комментарий: {{ image_info_metadata.offsetGet('exif.UserComment')|join("\r\n") }}<br />
                {%- endif -%}
                </pre>
            {% endif %}
        {% endif %}
    {% elseif file.isVideo %}
        {% set info = file_get_media_info(file.file) %}
        {% set audio_info = info is not null ? info.audios.first : null %}
        {% set video_info = info is not null ? info.videos.first : null %}

        {% if file.isPlayableVideo %}
            {% include '@Wapinet/video.html.twig' with {'file': file} %}
        {% else %}
            {% if screenshot is defined and screenshot is not null %}
                {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
            {% endif %}
        {% endif %}

        {% if video_info is not null %}
            <p>{{ video_info.dimensions.width }}x{{ video_info.dimensions.height }}{{ video_info.has('duration') ? ', ' ~ video_info.get('duration')|wapinet_length : '' }}</p>
            <pre class="long-description">
                {%- if video_info.has('codec_name') -%}
                    Видео кодек: {{ video_info.get('codec_name') }}<br />
                {%- endif -%}
                {%- if video_info.has('bit_rate') -%}
                    Видео битрейт: {{ (video_info.get('bit_rate') / 1000)|round }} кбит/сек<br />
                {%- endif -%}
            </pre>
        {% endif %}
        {% if audio_info is not null %}
            <pre class="long-description">
                {%- if audio_info.has('codec_name') -%}
                    Аудио кодек: {{ audio_info.get('codec_name') }}<br />
                {%- endif -%}
                {%- if audio_info.has('bit_rate') -%}
                    Аудио битрейт: {{ (audio_info.get('bit_rate') / 1000)|round }} кбит/сек<br />
                {%- endif -%}
                {%- if audio_info.has('sample_rate') -%}
                    Частота дискретизации: {{ (audio_info.get('sample_rate') / 1000)|round(1) }} КГц<br />
                {%- endif -%}
            </pre>
        {% endif %}
    {% elseif file.isAudio %}
        {% set info = file_get_media_info(file.file) %}
        {% set audio_info = info is not null ? info.audios.first : null %}

        {% if file.isPlayableAudio %}
            {% include '@Wapinet/audio.html.twig' with {'file': file} %}
        {% endif %}

        {% if audio_info is not null %}
            <p>{{ audio_info.has('duration') ? audio_info.get('duration')|wapinet_length : '' }}</p>
            <pre class="long-description">
                {%- if audio_info.has('codec_name') -%}
                    Аудио кодек: {{ audio_info.get('codec_name') }}<br />
                {%- endif -%}
                {%- if audio_info.has('bit_rate') -%}
                    Аудио битрейт: {{ (audio_info.get('bit_rate') / 1000)|round }} кбит/сек<br />
                {%- endif -%}
                {%- if audio_info.has('sample_rate') -%}
                    Частота дискретизации: {{ (audio_info.get('sample_rate') / 1000)|round(1) }} КГц<br />
                {%- endif -%}
            </pre>
        {% endif %}
    {% elseif file.isArchive and false %} {# временно отключаем поддержку архивов #}
        {% if file.isExtractableArchive %}
            {% include '@Wapinet/archive.html.twig' with {'file': file} %}
        {% endif %}
    {% elseif file.isJavaApp %}
        {% if screenshot is defined and screenshot is not null %}
            {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
    {% elseif file.isAndroidApp %}
        {% set android_app_info = file_get_android_app_info(file.file) %}

        {% if screenshot is defined and screenshot is not null %}
            {% include 'WapinetBundle::image.html.twig' with {'image': {'id': file.id, 'alt': file.originalFileName, 'src': screenshot, 'preview': screenshot|imagine_filter('thumbnail') } } %}
        {% endif %}
            <pre class="long-description">Версия: {{ android_app_info.versionName }}<br />Внутреннее имя: {{ android_app_info.packageName }}<br />
                {%- if android_app_info.minSdkLevel -%}
                    Версия Android: {{ android_app_info.minSdk.__get('platform') }}<br />
                {%- endif -%}
                Доступы:<br />
                {%- for permission in android_app_info.permissions -%}
                    {%- if permission -%}
                        &#187; {{ permission }}<br />
                    {%- endif -%}
                {%- endfor -%}
            </pre>
    {% endif %}

    <fieldset>{{ file.description|wapinet_bbcode_parse }}</fieldset>

    {% if app.user and (is_granted('EDIT', file) or is_granted('DELETE', file)) %}
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            {% if is_granted('EDIT', file) %}
                <a data-role="button" data-icon="edit" href="{{ path('file_edit', {'id': file.id}) }}">Редактировать</a>
            {% endif %}
            {% if is_granted('DELETE', file) %}
                <a data-role="button" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete" href="#delete-popup">Удалить</a>
            {% endif %}
        </fieldset>
    {% endif %}

    <table data-role="table" class="ui-responsive table-stroke">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Загружено:</td>
            <td>{{ file.createdAt|wapinet_datetime }}</td>
        </tr>
        {% if file.updatedAt is not null %}
            <tr>
                <td>Обновлено:</td>
                <td>{{ file.updatedAt|wapinet_datetime }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Размер:</td>
            <td>{{ file.fileSize|wapinet_size }}</td>
        </tr>
        <tr>
            <td>Всего просмотров:</td>
            <td>{{ file.countViews|wapinet_count }}</td>
        </tr>
        <tr>
            <td>Последний просмотр:</td>
            <td>{{ file.lastViewAt|wapinet_datetime }}</td>
        </tr>
        {% if file.user is not null %}
        <tr>
            <td>Пользователь:</td>
            <td><a href="{{ path('wapinet_user_profile', {'username': file.user.username}) }}">{{ file.user.username }}</a></td>
        </tr>
        {% endif %}
        {% if file.password is not null %}
        <tr>
            <td>Пароль:</td>
            <td>&#x2713;</td>
        </tr>
        {% endif %}
        <tr>
            <td><abbr title="Message Digest 5 — 128-битный алгоритм хеширования">MD5</abbr>:</td>
            <td>{{ file.hash }}</td>
        </tr>
        {% if not file.tags.isEmpty %}
            <tr>
                <td colspan="2">
                    {% for tag in file.tags %}
                        <a data-role="button" data-inline="true" data-mini="true" href="{{ path('file_tag', {'tagName': tag}) }}">{{ tag }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p id="share"></p>

    {% include 'WapinetCommentBundle::comments_block.html.twig' %}
{% endblock %}

{% block popup %}
    <div data-role="popup" id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить файл?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}
