{% extends '::base.html.twig' %}
{% set comments_id = 'news-' ~ entity.id %}

{% block title %}Новсти - {{ entity.subject }}{% endblock %}

{% block content -%}
    <h2>{{ entity.subject }}</h2>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">{{ entity.createdAt|wapinet_datetime }}</li>
        <li>
            <h2>{{ entity.subject }}</h2>
            {% if entity.updatedAt is not null %}
                <p><strong>Обновлено {{ entity.updatedAt|wapinet_datetime }}</strong></p>
            {% endif %}
            <p>{{ entity.body }}</p>
        </li>
    </ul>

    {% include 'WapinetCommentBundle::comments.html.twig' %}

{% endblock %}

