{% extends '::base.html.twig' %}

{% block title %}{{ entity.subject }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
        1: {'uri': path('wapinet_news'), 'title': 'Новости'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">{{ entity.createdAt|wapinet_datetime }}</li>
        <li>
            <h2>{{ entity.subject }}</h2>
            {% if entity.updatedAt is not null %}
                <p><strong>Обновлено {{ entity.updatedAt|wapinet_datetime }}</strong></p>
            {% endif %}
            <p>{{ entity.body }}</p>
        </li>
    </ul>

    {% include 'WapinetCommentBundle::comments_block.html.twig' %}

{% endblock %}

