{% extends "::base.html.twig" %}

{% block title %}Анализ индексирования сайта{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    {% if result is not null %}
        <ul data-role="listview" data-inset="true">
            <li>
                Google PageRank <span class="ui-li-count">{{ result.google_pr }}</span>
            </li>
            <li>
                <a href="http://www.google.com/search?q=site%3A{{ result.url }}">
                    Проиндексировано страниц <span class="ui-li-count">{{ result.google_pages }}</span>
                </a>
            </li>
            <li>
                <a href="http://www.google.com/search?q=%22{{ result.url }}%22%20-inurl%3A%22{{ result.url }}%22">
                    Обратных ссылок <span class="ui-li-count">{{ result.google_inurl }}</span>
                </a>
            </li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li>
                Яндекс ТИЦ <span class="ui-li-count">{{ result.yandex_tcy }}</span>
            </li>
            <li>
                <a href="http://yandex.ru/yandsearch?text={{ result.url }}">
                    Проиндексировано страниц <span class="ui-li-count">{{ result.yandex_pages }}</span>
                </a>
            </li>
        </ul>
    {% endif %}

    {{ form_start(form, {'action': path('pagerank_index'), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>
                <em>Google PageRank</em> (от Larry Page Rank) (иногда просто PR) — алгоритм расчёта авторитетности страницы, используемый поисковой системой Google.<br/>
                PageRank — это числовая величина, характеризующая "важность" страницы в Google. Чем больше ссылок на страницу, тем она становится "важнее".<br/>
                Шкала PageRank может изменяться от 0 до 10.
                Можно придерживаться примерно такой градации: PageRank от 4 до 5 — наиболее типичный для большинства сайтов средней "раскрученности". 6 — очень хорошо "раскрученный" сайт. 7 — величина, практически недостижимая для множества сайтов, но иногда встречается. Значения 8, 9, 10 имеют исключительно популярные и значимые проекты.
                Следует отметить, что PageRank — это параметр относящийся к каждой отдельной странице, но не всему сайту в целом. На одном сайте могут находиться страницы с разным PageRank.
            </p>
            <p>
                <em>Тематический индекс цитирования</em> (тИЦ) — технология поисковой машины "Яндекс", заключающаяся в определении "авторитетности" интернет-ресурсов с учётом качественной характеристики — ссылок на них с других сайтов. тИЦ рассчитывается по специально разработанному алгоритму, в котором особое значение придаётся тематической близости ресурса и ссылающихся на него сайтов. Данный показатель в первую очередь используется для определения порядка расположения ресурсов в рубриках каталога "Яндекса".
            </p>
        </div>
    </div>

{% endblock %}
