{% set audioConvertedToMp3 = null %}
{% if file.isAmr %}
    {% set audioConvertedToMp3 = vich_uploader_asset(file, 'file')|wapinet_audio_to_mp3 %}
{% endif %}

{% if audioConvertedToMp3 %}
    <a data-ajax="false" data-inline="true" data-role="button" href="{{ audioConvertedToMp3 }}" download="{{ file.originalFileName }}.mp3">Скачать MP3</a>
{% endif %}

<audio
    style="width: 100%;"
    controls="controls"
    preload="auto"
>
    {% if audioConvertedToMp3 %}
        <source src="{{ audioConvertedToMp3 }}" type="audio/mp3"></source>
    {% endif %}
    <source src="{{ vich_uploader_asset(file, 'file') }}" type="{{ file.mimeType }}"></source>
</audio>
