{% block file_url_widget %}
    <fieldset class="file-url ui-field-contain" {{ block('widget_container_attributes') }}>
        <legend>Файл или ссылка</legend>
        {{ form_row(form.file) }}
        {{ form_row(form.url) }}

        {% if value and (value.file_url.valid is defined ? value.file_url.valid : 1) %}
            {% if value.web_path is defined and value.web_path and value.file_url.mimeType|slice(0, 6) == 'image/' %}
                {% if value.file_url.path is not defined %}
                    {# content #}
                    {% set preview = value.web_path %}
                {% else %}
                    {% set preview = value.web_path|imagine_filter('thumbnail') %}
                {% endif %}

                {% include 'image.html.twig' with {'image': {'id': 'image', 'alt': '', 'src': value.web_path, 'preview': preview } } %}
            {% else %}
                <p>{{ (value.file_url.clientOriginalName is defined ? value.file_url.clientOriginalName : '') }} ({{ value.file_url.size|wapinet_size }})</p>
            {% endif %}
            {% if form.file_url_delete is defined %}
                {{ form_row(form.file_url_delete) }}
            {% endif %}
        {% endif %}
    </fieldset>
{% endblock %}
