{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}Мониторинг{% endblock %}

{% block body_javascript %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').tooltip();
        });
    </script>
{% endblock %}

{% block main %}
<div class="container">
    {% if info.php.fpm.enabled %}
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-5 text-right monitoring-label">PHP-FPM process manager:</dt>
                    <dd class="col-7 monitoring-value">{{ info.php.fpm.processManager }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-5 text-right monitoring-label">PHP-FPM start time:</dt>
                    <dd class="col-7 monitoring-value">{{ info.php.fpm.startTime|wapinet_datetime }}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Принято соединений:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.acceptedConnections|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Активных процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.activeProcesses|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Простаивающих процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.idleProcesses|wapinet_count }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Max активных процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.maxActiveProcesses|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Max потомков:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.maxChildrenReached|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-right monitoring-label">Медленных запросов:</dt>
                    <dd class="col-5 monitoring-value">{{ info.php.fpm.slowRequests|wapinet_count }}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseProcesses" aria-expanded="false" aria-controls="collapseProcesses">
                    Processes ({{ info.php.fpm.processes|length|wapinet_count }})
                </button>

                <div class="collapse" id="collapseProcesses">
                    {% for process in info.php.fpm.processes %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col">
                                    <dl class="row">
                                        <dd class="col">{{ process.script }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-5 text-right monitoring-label">Start time:</dt>
                                        <dd class="col-7 monitoring-value">{{ process.startTime|wapinet_datetime }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-right monitoring-label">Состояние:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.state }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-right monitoring-label">Memory:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.lastRequestMemory|wapinet_size }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-right monitoring-label">CPU:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.lastRequestCpu|wapinet_count(2) }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br />
    {% endif %}

    <div class="row justify-content-between">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Общая информация
                </h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5 text-right monitoring-label">ОС:</dt>
                        <dd class="col-7 monitoring-value">{{ info.general.osName }} {{ info.general.architecture }}</dd>
                        <dt class="col-5 text-right monitoring-label">Ядро:</dt>
                        <dd class="col-7 monitoring-value">{{ info.general.kernel }}</dd>
                        <dt class="col-5 text-right monitoring-label">Uptime:</dt>
                        <dd class="col-7 monitoring-value">{{ info.general.uptime ? info.general.uptime|date('%a дней %h часов %i минут') : 'Неизвестно' }}</dd>
                        <dt class="col-5 text-right monitoring-label">Selinux:</dt>
                        <dd class="col-7 monitoring-value">{{ info.selinux ? (info.selinux.enabled ? 'Вкл.' : 'Выкл.') : 'Отсутствует' }}</dd>
                        <dt class="col-5 text-right monitoring-label">PHP:</dt>
                        <dd class="col-7 monitoring-value">{{ info.php.version }}</dd>
                        <dt class="col-5 text-right monitoring-label">Memory limit:</dt>
                        <dd class="col-7 monitoring-value">{{ info.php.memoryLimit|wapinet_size }}</dd>
                        <dt class="col-5 text-right monitoring-label">Realpath cache size:</dt>
                        <dd class="col-7 monitoring-value">{{ info.php.realpathCacheSizeUsed|wapinet_size }} использовано из {{ info.php.realpathCacheSizeAllowed|wapinet_size }}</dd>
                        <dt class="col-5 text-right monitoring-label">Расширения PHP:</dt>
                        <dd class="col-7 monitoring-value">
                            <button type="button" class="btn btn-default" data-toggle="popover" title="PHP modules" data-content="{{ info.php.extensions|sort|join("\n") }}">
                                {{ info.php.extensions|length|wapinet_count }} всего
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Opcache
                </h3>
                <div class="card-body">
                    {% if info.php.opcache.enabled %}
                        <dl class="row">
                            <dt class="col-5 text-right monitoring-label">Закэшировано скриптов:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.cachedScripts|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Использовано памяти:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.usedMemory|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Свободно памяти:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.freeMemory|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Попаданий в кэш:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.hits|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Промахов мимо кэша:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.misses|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Закешировно интернированных строк:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.cachedInternedStrings|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Использовано памяти для интернированных строк:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.internedStringsUsedMemory|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Свободно памяти для интернированных строк:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.opcache.internedStringsFreeMemory|wapinet_size }}</dd>
                        </dl>
                    {% else %}
                        Выключен
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Apcu
                </h3>
                <div class="card-body">
                    {% if info.php.apcu.enabled %}
                        <dl class="row">
                            <dt class="col-5 text-right monitoring-label">Закэшировано переменных:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.apcu.cachedVariables|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Использовано памяти:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.apcu.usedMemory|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Свободно памяти:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.apcu.freeMemory|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Попаданий в кэш:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.apcu.hits|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Промахов мимо кэша:</dt>
                            <dd class="col-7 monitoring-value">{{ info.php.apcu.misses|wapinet_count }}</dd>
                        </dl>
                    {% else %}
                        Выключен
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-between align-items-start">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Сервисы
                </h3>
                <div class="card-body">
                    <dl class="row">
                        {% import _self as macroService %}

                        {% macro macro_service(service) %}
                            {% if not service %}
                                <span class="label label-danger">Не найдено</span>
                            {% elseif service.started %}
                                <span class="label label-success">{{ service.state }}</span>
                            {% else %}
                                <span class="label label-warning">{{ service.state }}</span>
                            {% endif %}
                        {% endmacro %}

                        <dt class="col-5 text-right monitoring-label">Nginx:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('nginx.service')) }}</dd>
                        <dt class="col-5 text-right monitoring-label">PHP-Fpm:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('php-fpm.service')) }}</dd>
                        <dt class="col-5 text-right monitoring-label">MySQL:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('mysqld.service')) }}</dd>
                        <dt class="col-5 text-right monitoring-label">Cron:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('crond.service')) }}</dd>
                        <dt class="col-5 text-right monitoring-label">Sphinx:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('searchd.service')) }}</dd>
                        <dt class="col-5 text-right monitoring-label">OpenSSH:</dt>
                        <dd class="col-7 monitoring-value">{{ macroService.macro_service(info.services|wapinet_ginfo_search_service('sshd.service')) }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    CPU
                </h3>
                <div class="card-body">
                    <dl class="row">
                        {% if info.cpu %}
                            <dt class="col-5 text-right monitoring-label">Процессор:</dt>
                            <dd class="col-7 monitoring-value">{{ info.cpu.processors[0].model }}</dd>
                            <dt class="col-5 text-right monitoring-label">Физических ядер:</dt>
                            <dd class="col-7 monitoring-value">{{ info.cpu.cores|wapinet_count }}</dd>
                            <dt class="col-5 text-right monitoring-label">Виртуальных ядер:</dt>
                            <dd class="col-7 monitoring-value">{{ info.cpu.virtual|wapinet_count }}</dd>
                        {% endif %}
                        <dt class="col-5 text-right monitoring-label">Loadavg:</dt>
                        <dd class="col-7 monitoring-value">{{ info.general.load ? info.general.load|join(' ') : 'Неизвестно' }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Память
                </h3>
                <div class="card-body">
                    {% if info.memory %}
                        <dl class="row">
                            <dt class="col-5 text-right monitoring-label">Использовано:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.used|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Свободно:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.free|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Разделяемая память:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.shared|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Закэшировано памяти:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.cached|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Swap использовано:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.swapUsed|wapinet_size }}</dd>
                            <dt class="col-5 text-right monitoring-label">Swap свободно:</dt>
                            <dd class="col-7 monitoring-value">{{ info.memory.swapFree|wapinet_size }}</dd>
                        </dl>
                    {% else %}
                        Неизвестно
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-between align-items-start">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Сеть
                </h3>
                <div class="card-body">
                    {% for network in info.network %}
                        <div class="card mb-3">
                            <h3 class="card-header">
                                {{ network.name }} ({{ network.state }})
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-5 text-right monitoring-label">Отправлено:</dt>
                                    <dd class="col-7 monitoring-value">{{ network.statsSent ? network.statsSent.bytes|wapinet_size ~ ' (ошибок: ' ~ network.statsSent.errors|wapinet_count ~ ')' : '' }}</dd>
                                    <dt class="col-5 text-right monitoring-label">Получено:</dt>
                                    <dd class="col-7 monitoring-value">{{ network.statsReceived ? network.statsReceived.bytes|wapinet_size ~ ' (ошибок: ' ~ network.statsReceived.errors|wapinet_count ~ ')' : '' }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% else %}
                        Неизвестно
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Накопители
                </h3>
                <div class="card-body">
                    {% if info.disk.drives %}
                        <dl class="row">
                            {% for drive in info.disk.drives %}
                                <dt class="col-5 text-right monitoring-label">{{ drive.name }}:</dt>
                                <dd class="col-7 monitoring-value">{{ drive.size|wapinet_size }}</dd>
                            {% endfor %}
                        </dl>
                    {% else %}
                        Неизвестно
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Точки монтирования
                </h3>
                <div class="card-body">
                    {% for mount in info.disk.mounts %}
                        <div class="card mb-3">
                            <h3 class="card-header">
                                {{ mount.mount }}
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-5 text-right monitoring-label">Файловая система:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.type }}</dd>
                                    <dt class="col-5 text-right monitoring-label">Использовано:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.used|wapinet_size }} ({{ mount.usedPercent }}%)</dd>
                                    <dt class="col-5 text-right monitoring-label">Свободно:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.free|wapinet_size }} ({{ mount.freePercent }}%)</dd>
                                </dl>
                            </div>
                        </div>
                    {% else %}
                        Неизвестно
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
