{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}Мониторинг{% endblock %}

{% types {
    info_general: '\\Ginfo\\Info\\General',
    info_php: '\\Ginfo\\Info\\Php',
    info_selinux: '?\\Ginfo\\Info\\Selinux',
    info_cpu: '?\\Ginfo\\Info\\Cpu',
    info_network: 'list<\\Ginfo\\Info\\Network>',
    info_disk: '\\Ginfo\\Info\\Disk',
    info_services: 'list<\\Ginfo\\Info\\Services>',
    info_memory: '?\\Ginfo\\Info\\Memory',
    info_nginx: '?\\Ginfo\\Info\\Nginx',
    info_mysql: '?\\Ginfo\\Info\\Mysql',
    info_manticore: '?\\Ginfo\\Info\\Manticore',
} %}

{% block main %}
<div class="container" style="max-width: 80%">
    {% if info_php.fpm.enabled %}
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">PHP-FPM process manager:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.processManager }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">PHP-FPM Memory Peak:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.memoryPeak|wapinet_size }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">PHP-FPM start time:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.startTime|wapinet_datetime }}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Принято соединений:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.acceptedConnections|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Активных процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.activeProcesses|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Простаивающих процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.idleProcesses|wapinet_count }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Max активных процессов:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.maxActiveProcesses|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Max потомков:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.maxChildrenReached|wapinet_count }}</dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-7 text-end monitoring-label">Медленных запросов:</dt>
                    <dd class="col-5 monitoring-value">{{ info_php.fpm.slowRequests|wapinet_count }}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" href="#collapseProcesses" aria-expanded="false" aria-controls="collapseProcesses">
                        Processes ({{ info_php.fpm.processes|length|wapinet_count }})
                    </button>
                </div>

                <div class="collapse" id="collapseProcesses">
                    {% for process in info_php.fpm.processes %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col">
                                    <dl class="row">
                                        <dd class="col">{{ process.lastRequestScript }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-5 text-end monitoring-label">Start time:</dt>
                                        <dd class="col-7 monitoring-value">{{ process.startTime|wapinet_datetime }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-end monitoring-label">Состояние:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.state }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-end monitoring-label">Запросов:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.requests|wapinet_count }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-end monitoring-label">Last Request Memory:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.lastRequestMemory|wapinet_size }}</dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-7 text-end monitoring-label">Last Request CPU:</dt>
                                        <dd class="col-5 monitoring-value">{{ process.lastRequestCpu|wapinet_count(2) }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br />
    {% endif %}

    <div class="row justify-content-between">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Общая информация
                </h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5 text-end monitoring-label">ОС:</dt>
                        <dd class="col-7 monitoring-value">{{ info_general.osName }} {{ info_general.architecture }}</dd>
                        <dt class="col-5 text-end monitoring-label">Ядро:</dt>
                        <dd class="col-7 monitoring-value">{{ info_general.kernel }}</dd>
                        <dt class="col-5 text-end monitoring-label">Uptime:</dt>
                        <dd class="col-7 monitoring-value">{{ info_general.uptime ? info_general.uptime|wapinet_length : 'Неизвестно' }}</dd>
                        <dt class="col-5 text-end monitoring-label">Selinux:</dt>
                        <dd class="col-7 monitoring-value">{{ info_selinux ? (info_selinux.enabled ? 'Вкл.' : 'Выкл.') : 'Отсутствует' }}</dd>
                        <dt class="col-5 text-end monitoring-label">PHP:</dt>
                        <dd class="col-7 monitoring-value">{{ info_php.version }}</dd>
                        <dt class="col-5 text-end monitoring-label">Memory limit:</dt>
                        <dd class="col-7 monitoring-value">{{ info_php.memoryLimit|wapinet_size }}</dd>
                        <dt class="col-5 text-end monitoring-label">Realpath cache size:</dt>
                        <dd class="col-7 monitoring-value">{{ info_php.realpathCacheSizeUsed|wapinet_size }} использовано из {{ info_php.realpathCacheSizeAllowed|wapinet_size }}</dd>
                        <dt class="col-5 text-end monitoring-label">Расширения PHP:</dt>
                        <dd class="col-7 monitoring-value">
                            <button type="button" class="btn btn-default" title="PHP modules" onclick="alert('{{ info_php.extensions|sort|join(' ')|escape('js')|replace({'\\u0020': "\\n"}) }}');">
                                {{ info_php.extensions|length|wapinet_count }} всего
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Opcache
                </h3>
                <div class="card-body">
                    {% if info_php.opcache.enabled %}
                        <dl class="row">
                            <dt class="col-7 text-end monitoring-label">Закэшировано скриптов:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.cachedScripts|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Использовано памяти:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.usedMemory|wapinet_size }}</dd>
                            <dt class="col-7 text-end monitoring-label">Свободно памяти:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.freeMemory|wapinet_size }}</dd>
                            <dt class="col-7 text-end monitoring-label">Попаданий в кэш:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.hits|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Промахов мимо кэша:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.misses|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Закешировно интернированных строк:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.cachedInternedStrings|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Использовано памяти для интернированных строк:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.internedStringsUsedMemory|wapinet_size }}</dd>
                            <dt class="col-7 text-end monitoring-label">Свободно памяти для интернированных строк:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.opcache.internedStringsFreeMemory|wapinet_size }}</dd>
                        </dl>
                    {% else %}
                        Выключен
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Apcu
                </h3>
                <div class="card-body">
                    {% if info_php.apcu.enabled %}
                        <dl class="row">
                            <dt class="col-7 text-end monitoring-label">Закэшировано переменных:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.apcu.cachedVariables|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Использовано памяти:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.apcu.usedMemory|wapinet_size }}</dd>
                            <dt class="col-7 text-end monitoring-label">Свободно памяти:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.apcu.freeMemory|wapinet_size }}</dd>
                            <dt class="col-7 text-end monitoring-label">Попаданий в кэш:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.apcu.hits|wapinet_count }}</dd>
                            <dt class="col-7 text-end monitoring-label">Промахов мимо кэша:</dt>
                            <dd class="col-5 monitoring-value">{{ info_php.apcu.misses|wapinet_count }}</dd>
                        </dl>
                    {% else %}
                        Выключен
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between align-items-start">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Nginx
                </h3>
                <div class="card-body">
                    {% if info_nginx %}
                        <dl class="row">
                            <dt class="col-5 text-end monitoring-label">Версия:</dt>
                            <dd class="col-7 monitoring-value">{{ info_nginx.nginxVersion }}</dd>
                            <dt class="col-5 text-end monitoring-label">Uptime:</dt>
                            <dd class="col-7 monitoring-value">
                                {% for process in info_nginx.processes %}
                                    {% if process.master %}
                                        {{ process.uptime|wapinet_length }}
                                    {% endif %}
                                {% endfor %}
                            </dd>
                            <dt class="col-5 text-end monitoring-label">Процессы:</dt>
                            <dd class="col-7 monitoring-value">
                                {% for process in info_nginx.processes %}
                                    <strong>PID {{ process.pid }}</strong>{{ process.master ? '(master)' : '' }}: VmPeak: {{ process.vmPeak|wapinet_size }}, VmSize: {{ process.vmSize|wapinet_size }}<br />
                                {% endfor %}
                            </dd>
                            <dt class="col-5 text-end monitoring-label">Аргументы:</dt>
                            <dd class="col-7 monitoring-value">
                                <button type="button" class="btn btn-default" title="Nginx args" onclick="alert('{{ info_nginx.args|escape('js')|replace({'\\u0020': "\\n"}) }}');">
                                    {{ info_nginx.args|split(' ')|length|wapinet_count }} всего
                                </button>
                            </dd>
                        </dl>
                    {% else %}
                        Не найден
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Mysql
                </h3>
                <div class="card-body">
                    {% if info_mysql %}
                        <dl class="row">
                            <dt class="col-4 text-end monitoring-label">Версия:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalVariables['version'] }}</dd>
                            <dt class="col-4 text-end monitoring-label">SQL Mode:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalVariables['sql_mode'] }}</dd>
                            <dt class="col-4 text-end monitoring-label">Max connections:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalVariables['max_connections']|wapinet_count }}</dd>
                            <dt class="col-4 text-end monitoring-label">Max used connections:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalStatus['Max_used_connections']|wapinet_count }}</dd>
                            <dt class="col-4 text-end monitoring-label">Uptime:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalStatus['Uptime']|wapinet_length }}</dd>
                            <dt class="col-4 text-end monitoring-label">Innodb Buffer Pool Size:</dt>
                            <dd class="col-8 monitoring-value">{{ info_mysql.globalVariables['innodb_buffer_pool_size']|wapinet_size }}</dd>
                            <dt class="col-4 text-end monitoring-label">Data Length:</dt>
                            <dd class="col-8 monitoring-value">
                                {% for data in info_mysql.dataLength %}
                                    {% if data.tableSchema != 'information_schema' and data.tableSchema != 'performance_schema' %}
                                        <strong>{{ data.tableSchema }}.{{ data.tableName }}</strong>: Data: {{ data.dataLength |wapinet_size }}, Index: {{ data.indexLength |wapinet_size }}<br />
                                    {% endif %}
                                {% endfor %}
                            </dd>
                        </dl>
                    {% else %}
                        Не найден
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Manticore
                </h3>
                <div class="card-body">
                    {% if info_manticore %}
                        <dl class="row">
                            <dt class="col-5 text-end monitoring-label">Версия:</dt>
                            <dd class="col-7 monitoring-value">{{ info_manticore.status['version'] }}</dd>
                            <dt class="col-5 text-end monitoring-label">Uptime:</dt>
                            <dd class="col-7 monitoring-value">{{ info_manticore.status['uptime']|wapinet_length }}</dd>
                            <dt class="col-5 text-end monitoring-label">Поисков:</dt>
                            <dd class="col-7 monitoring-value">{{ info_manticore.status['command_search']|wapinet_count }}</dd>
                        </dl>
                    {% else %}
                        Не найден
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between align-items-start">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Сервисы
                </h3>
                <div class="card-body">
                    <dl class="row">
                        {% import _self as macroService %}

                        {% macro macro_service(service) %}
                            {% if not service %}
                                <span class="label label-danger">Не найдено</span>
                            {% elseif service.started %}
                                <span class="label label-success">{{ service.state }}</span>
                            {% else %}
                                <span class="label label-warning">{{ service.state }}</span>
                            {% endif %}
                        {% endmacro %}

                        <dt class="col-6 text-end monitoring-label">Nginx:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('nginx.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">PHP-Fpm:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('php8.4-fpm.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">MySQL:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('mysql.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">Messenger:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('messenger.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">Scheduler:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('scheduler.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">Cron:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('cron.target')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">Manticore:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('manticore.service')) }}</dd>
                        <dt class="col-6 text-end monitoring-label">OpenSSH:</dt>
                        <dd class="col-6 monitoring-value">{{ macroService.macro_service(info_services|wapinet_ginfo_search_service('ssh.service')) }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    CPU
                </h3>
                <div class="card-body">
                    <dl class="row">
                        {% if info_cpu %}
                            <dt class="col-5 text-end monitoring-label">Процессор:</dt>
                            <dd class="col-7 monitoring-value">{{ info_cpu.processors[0].model }}</dd>
                            <dt class="col-5 text-end monitoring-label">Физических ядер:</dt>
                            <dd class="col-7 monitoring-value">{{ info_cpu.cores|wapinet_count }}</dd>
                            <dt class="col-5 text-end monitoring-label">Виртуальных ядер:</dt>
                            <dd class="col-7 monitoring-value">{{ info_cpu.virtual|wapinet_count }}</dd>
                        {% endif %}
                        <dt class="col-5 text-end monitoring-label">Loadavg:</dt>
                        <dd class="col-7 monitoring-value">{{ info_general.load ? info_general.load|join(' ') : 'Неизвестно' }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Память
                </h3>
                <div class="card-body">
                    {% if info_memory %}
                        <dl class="row">
                            <dt class="col-6 text-end monitoring-label">Использовано:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.used|wapinet_size }}</dd>
                            <dt class="col-6 text-end monitoring-label">Свободно:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.free|wapinet_size }}</dd>
                            <dt class="col-6 text-end monitoring-label">Разделяемая память:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.shared|wapinet_size }}</dd>
                            <dt class="col-6 text-end monitoring-label">Закэшировано памяти:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.cached|wapinet_size }}</dd>
                            <dt class="col-6 text-end monitoring-label">Swap использовано:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.swapUsed|wapinet_size }}</dd>
                            <dt class="col-6 text-end monitoring-label">Swap свободно:</dt>
                            <dd class="col-6 monitoring-value">{{ info_memory.swapFree|wapinet_size }}</dd>
                        </dl>
                    {% else %}
                        Неизвестно
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-between align-items-start">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Сеть
                </h3>
                <div class="card-body">
                    {% for network in info_network %}
                        <div class="card mb-3">
                            <h3 class="card-header">
                                {{ network.name }} ({{ network.state }})
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-5 text-end monitoring-label">Отправлено:</dt>
                                    <dd class="col-7 monitoring-value">{{ network.statsSent ? network.statsSent.bytes|wapinet_size ~ ' (ошибок: ' ~ network.statsSent.errors|wapinet_count ~ ')' : '' }}</dd>
                                    <dt class="col-5 text-end monitoring-label">Получено:</dt>
                                    <dd class="col-7 monitoring-value">{{ network.statsReceived ? network.statsReceived.bytes|wapinet_size ~ ' (ошибок: ' ~ network.statsReceived.errors|wapinet_count ~ ')' : '' }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% else %}
                        Неизвестно
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Накопители
                </h3>
                <div class="card-body">
                    {% if info_disk.drives %}
                        <dl class="row">
                            {% for drive in info_disk.drives %}
                                <dt class="col-5 text-end monitoring-label">{{ drive.name }}:</dt>
                                <dd class="col-7 monitoring-value">{{ drive.size|wapinet_size }}</dd>
                            {% endfor %}
                        </dl>
                    {% else %}
                        Неизвестно
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    Точки монтирования
                </h3>
                <div class="card-body">
                    {% for mount in info_disk.mounts %}
                        <div class="card mb-3">
                            <h3 class="card-header">
                                {{ mount.mount }}
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-5 text-end monitoring-label">Файловая система:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.type }}</dd>
                                    <dt class="col-5 text-end monitoring-label">Использовано:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.used|wapinet_size }} ({{ mount.usedPercent }}%)</dd>
                                    <dt class="col-5 text-end monitoring-label">Свободно:</dt>
                                    <dd class="col-7 monitoring-value">{{ mount.free|wapinet_size }} ({{ mount.freePercent }}%)</dd>
                                </dl>
                            </div>
                        </div>
                    {% else %}
                        Неизвестно
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
