{% set videoConvertedToMp4 = false %}
{% if file.is3gp or file.isAvi or file.isWmv or file.isMov %}
    {% set videoConvertedToMp4 = vich_uploader_asset(file, 'file')|wapinet_video_to_mp4 %}
{% endif %}


{% if videoConvertedToMp4 %}
    <a data-ajax="false" data-inline="true" data-role="button" href="{{ videoConvertedToMp4 }}" download="{{ file.originalFileName }}.mp4">Скачать MP4</a>
{% endif %}

<video
    style="width: 100%;"
    controls="controls"
    preload="auto"
>
    {% if videoConvertedToMp4 %}
        <source src="{{ videoConvertedToMp4 }}" type="video/mp4"></source>
    {% endif %}

    <source src="{{ vich_uploader_asset(file, 'file') }}" type="{{ file.mimeType }}"></source>
</video>
