{% extends '::base.html.twig' %}

{% block title %}Блоги{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'}
    })}}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include '@Wapinet/Gist/list_content.html.twig' %}

    {% if app.user %}
        <div data-role="collapsible">
            <h4>Добавить</h4>
            {{ form_start(form, {'action': path('gist_add'), 'method': 'POST'}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
    <fieldset>
        <a href="{{ path('gist_search') }}" data-role="button" data-icon="search">Поиск</a>
    </fieldset>
{% endblock %}
