<ul data-role="listview" data-inset="true">
    {% for item in pagerfanta %}
        <li class="ui-li-has-thumb gist-header">
            <img src="{{ wapinet_user_get_avatar_url(item.user) }}" alt="{{ item.user }}" title="{{ item.user }}" class="image-preview" />
            {% if item.user.isOnline %}
                <span class="avatar-online avatar-online-list-gist"></span>
            {% endif %}
            <a href="{{ path('gist_view', {'id': item.id}) }}">
                <h2>{{ item.subject }}</h2>
                <p>{{ item.createdAt|wapinet_datetime }}</p>
            </a>
        </li>
    {% else %}
        <li>Сообщений нет.</li>
    {% endfor %}
</ul>

<div class="pagerfanta">
    {{ pagerfanta(pagerfanta) }}
</div>