{% extends '::base.html.twig' %}

{% block title %}Поиск{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('gist_index'), 'title': 'Блоги'}
    })}}
{% endblock %}

{% block content %}
    <form action="{{ path('gist_search') }}" method="post">
        {{ form_errors(form.search) }}
        {{ form_row(form.search) }}

        <div class="ui-field-contain">
            {{ form_errors(form.sort) }}
            {{ form_label(form.sort) }}

            <fieldset id="{{ form.sort.vars.id }}" data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="{{ form.sort.vars.full_name }}" id="sort-{{ form.sort.vars.choices[0].data }}" value="{{ form.sort.vars.choices[0].data }}" {% if form.sort.vars.data == form.sort.vars.choices[0].data or form.sort.vars.data is null %}checked="checked"{% endif %} />
                <label for="sort-{{ form.sort.vars.choices[0].data }}">{{ form.sort.vars.choices[0].label }}</label>
                <input type="radio" name="{{ form.sort.vars.full_name }}" id="sort-{{ form.sort.vars.choices[1].data }}" value="{{ form.sort.vars.choices[1].data }}" {% if form.sort.vars.data == form.sort.vars.choices[1].data %}checked="checked"{% endif %} />
                <label for="sort-{{ form.sort.vars.choices[1].data }}">{{ form.sort.vars.choices[1].label }}</label>
            </fieldset>
        </div>

        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
    </form>

    {% if pagerfanta is not null %}
        {% include '@Wapinet/Gist/list_content.html.twig' %}
    {% endif %}
{% endblock %}
