{% extends '::base.html.twig' %}

{% block title %}{{ gist.subject }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('gist_index'), 'title': 'Блоги'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            {{ gist.subject }}
        </li>
        <li data-icon="false">
            <span class="comment-avatar">
                <img src="{{ wapinet_user_get_avatar_url(gist.user) }}" alt="{{ gist.user }}" class="image-preview" />
                {% if gist.user.isOnline %}
                    <span class="avatar-online"></span>
                {% endif %}
            </span>
            <span class="comment-authorname">
                <a class="bar-button ui-btn-icon-left ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_profile', {'username': gist.user.username}) }}">{{ gist.user.username }}</a>
            </span>

            <p>{{ gist.createdAt|wapinet_datetime  }}</p>
            {% if gist.updatedAt is not null %}
                <p>Обновлено {{ gist.updatedAt|wapinet_datetime }}</p>
            {% endif %}

            <div class="long-description">
                {{ gist.body|wapinet_bbcode_parse }}
            </div>
        </li>
    </ul>

    {% if app.user and (is_granted('EDIT', gist) or is_granted('DELETE', gist)) %}
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            {% if is_granted('EDIT', gist) %}
                <a data-role="button" data-icon="edit" href="{{ path('gist_edit', {'id': gist.id}) }}">Редактировать</a>
            {% endif %}
            {% if is_granted('DELETE', gist) %}
                <a data-role="button" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete" href="#delete-popup" data-id="{{ gist.id }}">Удалить</a>
            {% endif %}
        </fieldset>
    {% endif %}

    <div id="hypercomments_widget"></div>
{% endblock %}


{% block popup %}
    <div data-role="popup" id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить сообщение?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}

