{% extends '::base.html.twig' %}

{% block title %}{{ gist.subject }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('gist_index'), 'title': 'Блоги'}
    })}}
{% endblock %}

{% block javascripts %}
        {% if app.user and is_granted('DELETE', gist) %}
            <script type="text/javascript">{% autoescape 'js' %}
                $(document).bind("pageinit", function () {
                    $("#delete-popup-do").on("click", function () {
                        $.post('{{ path('gist_delete', {'id': gist.id}) }}', function () {
                            window.location.assign('{{ path('gist_index') }}');
                        });
                    });
                });
            {% endautoescape %}</script>
        {% endif %}
{% endblock %}

{% block content %}

    <ul data-role="listview" data-inset="true">
        <li class="ui-li-has-thumb gist-header">
            {% if gist.user.hasAvatar %}
                <img onclick="window.location.assign('{{ path('wapinet_user_profile', {'username': gist.user.username}) }}'); event.stopPropagation();" src="{{ vich_uploader_asset(gist.user, 'avatar')|imagine_filter('thumbnail') }}" alt="{{ gist.user }}" class="image-preview" />
            {% else %}
                <img onclick="window.location.assign('{{ path('wapinet_user_profile', {'username': gist.user.username}) }}');" src="{{ asset('static/noavatar.png') }}" alt="{{ gist.user }}" title="{{ gist.user }}" class="image-preview" />
            {% endif %}
            {% if gist.user.isOnline %}
                <span class="avatar-online avatar-online-list"></span>
            {% endif %}
            <h2>{{ gist.subject }}</h2>
            {% if gist.updatedAt is not null %}
                <p>Обновлено {{ gist.updatedAt|wapinet_datetime }}</p>
            {% endif %}
            <span class="ui-li-count">{{ gist.createdAt|wapinet_datetime  }}</span>
        </li>
        <li data-icon="false">
            {{ gist.body|wapinet_bbcode_parse }}
        </li>
    </ul>

    {% if app.user and (is_granted('EDIT', gist) or is_granted('DELETE', gist)) %}
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            {% if is_granted('EDIT', gist) %}
                <a data-role="button" data-icon="edit" href="{{ path('gist_edit', {'id': gist.id}) }}">Редактировать</a>
            {% endif %}
            {% if is_granted('DELETE', gist) %}
                <a data-role="button" data-transition="flow" data-position-to="window" data-rel="popup" data-icon="delete" href="#delete-popup">Удалить</a>
            {% endif %}
        </fieldset>
    {% endif %}

    {% include 'WapinetCommentBundle::comments_block.html.twig' %}
{% endblock %}


{% block popup %}
    <div data-role="popup" id="delete-popup" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div data-role="header" class="ui-corner-top" data-theme="b">
            <h1>Удаление</h1>
        </div>
        <div data-role="content" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Вы уверенны что хотите удалить сообщение?</h3>
            <p>Это безвозвратная операция.</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back">Отмена</a>
            <a href="#" id="delete-popup-do" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Удалить</a>
        </div>
    </div>
{% endblock %}

