<div class="fos_user_user_show">
    {% if user.isOnline %}
        <p><strong>Пользователь онлайн</strong></p>
    {% endif %}
    <table data-role="table" id="profile-table" class="ui-responsive table-stroke">
        <thead>
        <tr>
            <th data-priority="1"></th>
            <th data-priority="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Логин</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>
                {% if user.sex == constant('Wapinet\\UserBundle\\Entity\\User::SEX_M') %}
                    Мужской
                {% elseif user.sex == constant('Wapinet\\UserBundle\\Entity\\User::SEX_F') %}
                    Женский
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>День рождения</td>
            <td>{{ user.birthday is null ? 'Не указано' : user.birthday|wapinet_date }}</td>
        </tr>
        <tr>
            <td>Дата регистрации</td>
            <td>{{ user.createdAt|wapinet_datetime }}</td>
        </tr>
        <tr>
            <td>Последняя активность</td>
            <td>{{ user.lastActivity is null ? 'Неизвестно' : user.lastActivity|wapinet_datetime }}</td>
        </tr>
        <tr>
            <td>Аватар</td>
            <td>
                {% if user.hasAvatar %}
                    {% include 'WapinetBundle::image.html.twig' with {'image': {'id': user.id, 'alt': user, 'src': vich_uploader_asset(user, 'avatar') } } %}
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<fieldset data-role="controlgroup" data-type="horizontal">
    <a data-role="button" href="{{ path('file_user', {'username': user.username}) }}">Файлы</a>
    <a data-role="button" href="{{ path('wapinet_user_comments', {'username': user.username}) }}">Комментарии</a>
    <a data-role="button" href="{{ path('wapinet_user_friends', {'username': user.username}) }}">Друзья</a>
</fieldset>


{% if app.user.id == user.id %}
    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Управление:</legend>
        <a data-role="button" data-icon="edit" href="{{ path('fos_user_profile_edit') }}">Редактировать профиль</a>
        <a data-role="button" data-icon="edit" href="{{ path('wapinet_user_panel_edit') }}">Редактировать меню</a>
    </fieldset>
{% endif %}
