<div class="fos_user_user_show">
    {% if user.hasAvatar %}
        {% include 'WapinetBundle::image.html.twig' with {
            'image': {
                'badge': user.isOnline ? 'avatar-online' : null,
                'id': user.id,
                'alt': user,
                'src': vich_uploader_asset(user, 'avatar'),
                'preview': vich_uploader_asset(user, 'avatar')|imagine_filter('thumbnail')
            }
        } %}
    {% endif %}
    <table data-role="table" id="profile-table" class="ui-responsive table-stroke">
        <thead>
        <tr>
            <th data-priority="1"></th>
            <th data-priority="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Логин</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>
                {% if user.isMale %}
                    Мужской
                {% elseif user.isFemale %}
                    Женский
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>День рождения</td>
            <td>{{ user.birthday is null ? 'Не указано' : user.birthday|wapinet_date }}</td>
        </tr>
        <tr>
            <td>Дата регистрации</td>
            <td>{{ user.createdAt|wapinet_datetime }}</td>
        </tr>
        <tr>
            <td>Последняя активность</td>
            <td>{{ user.lastActivity is null ? 'Неизвестно' : user.lastActivity|wapinet_datetime }}</td>
        </tr>
        </tbody>
    </table>

    {% if user.info is not null %}
        <fieldset>{{ user.info|wapinet_bbcode_parse }}</fieldset>
    {% endif %}
</div>

<ul data-role="listview" data-inset="true">
    <li data-icon="cloud"><a href="{{ path('gist_user', {'username': user.username}) }}">Блог <span class="ui-li-count">{{ gist_count(user) }}</span></a></li>
    <li data-icon="action"><a href="{{ path('file_user', {'username': user.username}) }}">Файлы <span class="ui-li-count">{{ file_count_user(user) }}</span></a></li>
    <li data-icon="comment"><a href="{{ path('wapinet_user_comments', {'username': user.username}) }}">Комментарии <span class="ui-li-count">{{ wapinet_comment_count_comments(user) }}</span></a></li>
    <li data-icon="user"><a href="{{ path('wapinet_user_friends', {'username': user.username}) }}">Друзья <span class="ui-li-count">{{ wapinet_user_count_friends(user) }}</span></a></li>
    {% if app.user.id == user.id %}
        <li data-icon="calendar"><a href="{{ path('wapinet_user_events') }}">События</a></li>
    {% endif %}
</ul>

{% if app.user.id != user.id %}
    <a data-icon="mail" data-role="button" href="{{ path('wapinet_message_thread_new', {'recipient': user.username}) }}">Личное сообщение</a>

    {% if wapinet_user_is_friends(app.user, user) %}
        <a class="friends-button" data-mini="true" data-icon="delete" data-role="button" data-inline="true" href="{{ path('wapinet_user_friends_delete', {'username': user.username}) }}">Удалить из друзей</a>
    {% else %}
        <a class="friends-button" data-mini="true" data-icon="star" data-role="button" data-inline="true" href="{{ path('wapinet_user_friends_add', {'username': user.username}) }}">Добавить в друзья</a>
    {% endif %}
{% endif %}

{% if app.user.id == user.id %}
    <fieldset data-role="controlgroup" data-type="horizontal">
        <a data-role="button" data-icon="edit" href="{{ path('fos_user_profile_edit') }}">Редактировать профиль</a>
        <a data-role="button" data-icon="edit" href="{{ path('wapinet_user_subscriber_edit') }}">Редактировать подписки</a>
        <a data-role="button" data-icon="edit" href="{{ path('wapinet_user_panel_edit') }}">Редактировать меню</a>
    </fieldset>
{% endif %}
