<div class="fos_user_user_show">
    {% if user.hasAvatar %}
        {% include 'WapinetBundle::image.html.twig' with {
            'image': {
                'badge': user.isOnline ? 'avatar-online' : null,
                'id': user.id,
                'alt': user,
                'src': vich_uploader_asset(user, 'avatar'),
                'preview': vich_uploader_asset(user, 'avatar')|imagine_filter('thumbnail')
            }
        } %}
    {% endif %}

    <div class="ui-grid-a ui-mini ui-corner-all">
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Логин</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.username }}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Пол</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{% if user.isMale %}Мужской{% elseif user.isFemale %}Женский{% else %}Не указано{% endif %}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">День рождения</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{% if user.birthday %}{{ user.birthday|wapinet_date }}{% else %}Не указано{% endif %}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Страна</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{% if user.country %}{{ user.countryName }} <img src="{{ user.countryImage }}" alt="{{ user.countryName }}" />{% else %}Не указано{% endif %}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Дата регистрации</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.createdAt|wapinet_datetime }}</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Активность</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.lastActivity is null ? 'Неизвестно' : user.lastActivity|wapinet_datetime }}</div></div>
    </div>

    {% if user.vk is not null %}
        Вконтакте: <a id="user-vk" data-id="{{ user.vk }}" class="ui-btn ui-mini ui-btn-inline" rel="external" href="https://vk.com/{{ user.vk }}">{{ user.vk }}</a>
    {% endif %}

    {% if user.info is not null %}
        <div class="ui-body ui-body-a ui-corner-all">{{ user.info|wapinet_bbcode_parse }}</div>
    {% endif %}
</div>

<ul data-role="listview" data-inset="true">
    <li data-icon="cloud"><a href="{{ path('gist_user', {'username': user.username}) }}">Блог <span class="ui-li-count">{{ gist_count(user)|wapinet_count }}</span></a></li>
    <li data-icon="action"><a href="{{ path('file_user', {'username': user.username}) }}">Файлы <span class="ui-li-count">{{ file_count_user(user)|wapinet_count }}</span></a></li>
    <li data-icon="comment"><a href="{{ path('wapinet_user_comments', {'username': user.username}) }}">Комментарии <span class="ui-li-count">{{ wapinet_comment_count_comments(user)|wapinet_count }}</span></a></li>
    <li data-icon="user"><a href="{{ path('wapinet_user_friends', {'username': user.username}) }}">Друзья <span class="ui-li-count">{{ wapinet_user_count_friends(user)|wapinet_count }}</span></a></li>
    {% if app.user.id == user.id %}
        <li data-icon="calendar"><a href="{{ path('wapinet_user_events') }}">События</a></li>
    {% endif %}
</ul>

{% if app.user.id != user.id %}
    <a data-icon="mail" data-role="button" href="{{ path('wapinet_message_thread_new', {'recipient': user.username}) }}">Личное сообщение</a>

    {% if wapinet_user_is_friends(app.user, user) %}
        <a class="friends-button" data-mini="true" data-icon="delete" data-role="button" data-inline="true" href="{{ path('wapinet_user_friends_delete', {'username': user.username}) }}">Удалить из друзей</a>
    {% else %}
        <a class="friends-button" data-mini="true" data-icon="star" data-role="button" data-inline="true" href="{{ path('wapinet_user_friends_add', {'username': user.username}) }}">Добавить в друзья</a>
    {% endif %}
{% endif %}

{% if app.user.id == user.id %}
    <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">Редактировать...</a>
    <div data-role="popup" id="popupMenu" data-theme="b">
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Что редактируем?</li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Профиль</a></li>
            <li><a href="{{ path('wapinet_user_subscriber_edit') }}">Подписки</a></li>
            <li><a href="{{ path('wapinet_user_panel_edit') }}">Меню</a></li>
        </ul>
    </div>
{% endif %}
