{% extends "base.html.twig" %}

{% block title %}СМИ{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'}
    })}}
{% endblock %}


{% block content %}
<ul data-role="listview" data-inset="true">
    <li class="ui-li-has-thumb">
        <a href="{{ path('mass_media_rt') }}">
            <img src="{{ asset('bundles/wapinet/images/mass_media/rt.jpg') }}" alt="RT" />
            <h2>RT на русском</h2>
            <p>Российская международная многоязычная информационная телевизионная компания</p>
        </a>
    </li>
    <li class="ui-li-has-thumb">
        <a href="{{ path('mass_media_inotv') }}">
            <img src="{{ asset('bundles/wapinet/images/mass_media/inotv.jpg') }}" alt="Ино ТВ" />
            <h2>Ино ТВ</h2>
            <p>Репортажи зарубежных телеканалов о России с переводом на русский язык</p>
        </a>
    </li>
</ul>
{% endblock %}
