<li data-role="list-divider">
    <span>
        <a class="bar-button ui-btn-icon-right ui-icon-user ui-mini ui-btn-inline ui-btn" href="{{ path('wapinet_user_friends', {'username': event.variables.friend.username}) }}">&#10150;</a>
    </span>
    {{ event.createdAt|wapinet_datetime }}
</li>
<li>
    <h2 class="long-description">{{ event.subject }}</h2>
    <div class="long-description">
        {% if event.variables.friend.isFemale %}
            Ваша подруга {{ event.variables.friend.username }} удалила из друзей {{ event.variables.friend_friend.username }}.
        {% else %}
            Ваш друг {{ event.variables.friend.username }} удалил из друзей {{ event.variables.friend_friend.username }}.
        {% endif %}
    </div>
</li>
