{% extends 'base.html.twig' %}

{% block title %}WHOIS - информация о домене или IP{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('whois_index'), 'method': 'POST'}) }}
    {% if resultHtml is not null %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>{{ resultHtml|raw }}</p>
        </div>
    </div>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет получить регистрационные данные о владельцах доменных имён, IP-адресов и автономных систем.</p>
        </div>
    </div>
{% endblock %}
