{% extends 'base.html.twig' %}

{% block title %}Друзья {{ user.username }}{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs({
    1: {'uri': path('wapinet_users'), 'title': 'Пользователи'},
    2: {'uri': path('wapinet_user_profile', {'username': user.username}), 'title': user.username}
    }) }}
{% endblock %}

{% block content %}

    <ul data-role="listview" data-inset="true">
        {% for friend in pagerfanta %}
            <li>
                <a href="{{ path('wapinet_user_profile', {'username': friend}) }}">
                    <img src="{{ wapinet_user_get_avatar_url(friend.friend) }}" alt="{{ friend }}" class="image-preview" />
                    {% if friend.friend.isOnline %}
                        <span class="avatar-online avatar-online-list"></span>
                    {% endif %}
                    <h2>{{ friend }}</h2>
                </a>
            </li>
        {% else %}
            <li>Друзей нет</li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta) }}
    </div>

{% endblock %}
